$card-size: 112px;
$card-size-small: 72px;

.apps_recent_block .page_block_h2 {
    margin: -10px -10px 0;
    width: 627px;
}

body.static_header #page_header_cont .back {
    box-shadow: none
}

body.static_header #page_body {
    width: 1024px !important;
}

body.static_header #page_layout,
body.static_header #page_header,
body.static_header #page_wrap {
    width: 1183px !important;
}

body.static_header #page_wrap {
    margin: 0 auto 0 calc(50vw - 600px);
}

body.static_header .top_audio_player {
    margin-left: 575px;
}

body.static_header #page_header_cont {
    width: 1178px;
}

.apps_recent_row {
    width: 75px;
    height: 75px;
    background-size: 75px 75px;
    margin: 0 13px 12px 0;
}

.apps_recent_apps_wrap {
    padding: 15px 5px;
    height: 192px;
}

.apps_recent_block {
    width: 274px;
    height: 247px;
}

.apps_feed_block {
    width: 333px;
    top: 25px;
    height: 222px;
}

.apps_feed_block .page_block_header_inner {
    font-size: 1.2em;
    padding-top: 15px;
}

.apps_recent_apps_wrap .apps_recent_all {
    width: 251px;
    left: auto;
}

.apps_cat_header_link:after {
    background-image: $arrow-right;
    height: 10px
}

#apps_top_tabs .ui_tab.ui_tab_sel {
    color: #FFF
}

#apps_header .ui_tab_group {
    padding-bottom: 4px !important
}

#apps_header .ui_tab_group:before {
    content: none
}

#apps_search {
    padding: 5px;
    background: #FFF
}

#apps_content {
    padding: 10px 5px
}

.apps_featured_slider {
    height: 236px;
    width: 607px;
    padding: 0;
    margin: 10px 0
}

.apps_featured_next,
.apps_featured_prev {
    width: 80px
}

.apps_featured_thumb,
.ads_ad_photo_box.big_app {
    height: 236px;
    width: 420px;
    line-height: 234px;
    font-size: inherit;
    border-radius: 3px;
}

.ads_ad_box.ver.repeat_ver.size_site.big_app,
.ads_ad_box2.ver.repeat_ver.size_site.big_app,
.ads_ad_photo.ver.big_app,
.apps_featured_thumb > img,
.ads_ad_big_app_info_box {
    width: 420px
}

.ads_ad_photo.ver.big_app {
    max-width: 420px
}

.apps_featured_next:before,
.apps_featured_prev:before {
    border-radius: 4px
}

.apps_featured_thumb_descr,
.ads_ad_description.big_app {
    text-shadow: rgba(0, 0, 0, 0.6) 0 0 4px;
    font-size: 1.1em;
    line-height: 1.5em;
}

.apps_featured_thumb_title,
.ads_ad_title.big_app {
    font-size: 1.3em;
    text-shadow: rgba(0, 0, 0, 0.6) 0 0 4px;
    margin-bottom: 5px;
}

.apps_featured_thumb_play_btn,
.ads_ad_play {
    font-size: 1.1em;
    padding: 6px 21px 7px;
}

.apps_featured_thumb_play_btn:active {
    padding: 7px 21px 6px;
}

.apps_featured_thumb_gradient {
    height: 105px
}

.apps_featured_thumbs {
    left: -339px
}

.apps_frtt_photo {
    border-radius: 2px
}

.ads_ad_big_app_info_box.big_app .ads_ad_play:active {
    padding-top: 7px;
    padding-bottom: 6px;
}

#apps_after .page_block_header_inner {
    font-size: 1.2em
}

#apps_after .page_block_header_extra_left {
    display: none
}

.apps_cat_wrap {
    margin: 0 -22px 0 5px;
}

.ads_ad_title.apps_only,
.app_link {
    font-weight: bold;
    color: $header-color;
}

.ads_ad_title_box.app_in_news,
.ads_ad_title_box.apps_only,
.ads_ad_title_box.groups_only,
.app_cat_name {
    padding-top: 7px;
}

.ads_ad_domain.apps_only {
    color: #999;
    padding-top: 3px;
}

.apps_cat_row {
    margin-right: 14px;
}

.apps_frtt_box {
    padding: 10px 10px 3px
}

#apps_after .page_block_header,
#apps_header .page_block_header {
    border-bottom: none;
    margin: 5px 5px 0;
}

.apps_cat_wrap .apps_cat_row:nth-child(-n+5) {
    margin-top: 8px;
    margin-bottom: 8px;
}

.apps_catalog_layout .apps_cat_wrap .apps_cat_row {
    display: none;
}

.apps_catalog_layout .apps_cat_wrap .apps_cat_row:nth-child(-n+4) {
    display: block;
}

.ads_ad_text_box {
    text-align: left;
}

#apps_after .ui_load_more_btn {
    width: 597px;
    margin: 15px 5px 10px;
}

.apps_collections_wrap {
    margin-bottom: 10px
}

.apps_collections_row {
    margin: 10px 27px;
}

.apps_feed_wrap {
    padding: 10px 0 0;
    height: 182px;
}

.apps_feed_block .page_block_sub_header {
    padding: 0;
    height: 30px;
}

#apps_recent_notifications_black_list > .header_side_link {
    margin-right: 0;
    margin-top: 5px;
}

.apps_notifications_wrap .apps_notifications_wrap_inner {
    height: 222px;
}

.apps_notifications_wrap .apps_notifications_wrap_inner.ui_scroll_container .ui_scroll_content {
    padding: 0 10px 0 5px;
}

.apps_notification_info {
    margin: 0 8px 0 60px;
}

.app_actions_menu_wrap {
    top: auto
}

.app_actions_menu_wrap .ui_actions_menu_item {
    height: 25px;
    line-height: 25px;
}

.apps_options_bar {
    margin: -10px -10px 0;
    width: calc(100% + 20px);
}

.payments_getvotes_method_opt {
    font-size: 1.1em
}

.payments_summary_cont {
    margin-top: 0;
    line-height: 25px;
}

.apps_main .app_container {
    max-width: 1000px
}

#apps_i_slider_outer {
    margin: 15px auto 0;
}

.apps_main .apps_i_wrap {
    margin: -10px;
}

.apps_main .apps_i_panel {
    padding: 15px;
}

.apps_main .apps_i_icon {
    top: 15px;
    left: 15px;
}

.apps_main .apps_i_buttons {
    top: 15px;
    right: 15px;
}

.apps_main .apps_i_description_content {
    margin-top: 15px;
}

.apps_ss_friend {
    border-radius: 2px
}

.apps_feed_user_photo img {
    border-radius: 3px
}

.apps_feed_row {
    margin: 0 15px 15px 0;
}

.apps_feed_wrap .ui_scroll_bar_container {
    right: 0
}

.apps_notifications_wrap .apps_notifications_wrap_inner .ui_scroll_bar_container {
    right: 4px
}

.apps_main .apps_i_content {
    padding: 0 15px
}

.apps_frtt_level {
    font-size: 0.8em;
    bottom: 1px;
    right: 1px;
    border-radius: 5px;
    border: none;
}

.apps_main .apps_i_slider_outer, .apps_main .apps_i_slider_slide, .apps_main .apps_promo_video_thumb {
    width: 597px;
    height: 370px
}

.apps_main .apps_i_slider_slide {
    line-height: 370px;
}

.apps_main .apps_i_slider_slide > img {

    max-width: 597px;
    max-height: 370px;
}

.apps_recent_block.eight_games {
    width: 308px
}

.apps_recent_block.eight_games .apps_recent_apps_wrap,
.apps_recent_block.eight_games .apps_notifications_wrap,
.apps_recent_block.eight_games .apps_notifications_wrap_inner {
    height: 312px
}

.apps_recent_block.eight_games {
    height: 367px;
}

.apps_recent_block.eight_games .apps_recent_apps_wrap .apps_recent_all {
    width: 284px;
}

.apps_feed_block.eight_games {
    height: 342px;
    width: 295px;
}

.apps_feedRightAppsBlock {
    padding: 0 15px;
}

.apps_feedRightAppsBlock__name {
    font-weight: bold;
    color: $link-color
}

.apps_feedRightAppsBlock.apps_feedRightAppsBlock_single_app .apps_feedRightAppsBlock__rowInfo {
    margin: 8px 0;
}

.GamesCatalogNav {
    &__balanceLink {
        margin-top: 0;
        position: absolute;
        right: 5px;
        top: -8px;
    }

    &__headerLink {
        margin-top: 0;
        margin-right: 5px;
        color: $link-color
    }
}

.GamesCatalogFullWidthBanner {
    box-shadow: none;

    &__btn.flat_button {
        @extend %flat_button;

        &:active {
            padding-right: 14px
        }
    }
}

.GamesCatalogCollectionCardsList {
    padding: 0 0 15px
}

.GamesCatalogHalfBlock {
    width: auto;

    .GamesCatalogCard__appLink {
        margin-top: 5px;
        font-weight: bold;
    }

    .GamesCatalogCardsBlock__header {
        margin: 10px 0;
        border-bottom: 1px solid $border-line-color;
    }
}

.GamesCatalogCollection {
    width: auto
}

.GamesCatalogCollectionCard {
    margin-left: 4px;
    width: $card-size-small;

    &__imageWrap {
        width: $card-size-small;
        height: $card-size-small;

        &:after {
            width: $card-size-small;
            height: $card-size-small;
            border: none;
        }
    }

    &__image {
        width: $card-size-small;
        height: $card-size-small;
    }
}

.GamesCatalogCardsBlock,
.GamesCatalogGameOfWeek {
    &__headerIcon {
        display: none
    }
}

.GamesCatalogCardsList {
    padding: 0;
    justify-content: space-between;

    .GamesCatalogCard {
        margin-left: auto;
    }
}

.GamesCatalogCard {
    width: $card-size;

    &__appLink {
        font-weight: bold;
    }

    &__imageWrap {
        width: $card-size;
        height: $card-size;

        &:after {
            width: 102px;
            height: 102px;
            border: none;
        }
    }

    &__image {
        width: $card-size;
        height: $card-size;
    }
}

.GamesCatalogGameOfWeek {
    &__content {
        padding: 10px 5px
    }
}

.GamesCatalogMainContent {
    margin-bottom: 0
}

.apps_rate_cat {
    padding-bottom: 3px;
}

.GamesCatalog--downloaded_games {
    .ui_tabs {
        border-bottom: 1px solid #597DA3;
    }
}

.DownloadedGameItem {
    margin: -1px 0px;
    padding: 10px 0;

    &:hover {
        margin: -1px -10px;
        padding: 10px 10px;
    }

    &__image,
    &__imageWrap {
        height: 128px;
        width: 224px;
    }

    &__imageWrap {
        margin-right: 10px
    }

    &__imageWrap:after {
        border: none
    }

    &__description {
        width: auto
    }
}

// Miniapps

.AppsCatalogHeader {
    padding: 5px;

    &__tab {
        padding: 0;
        line-height: inherit
    }

    &__select {
        padding: 0;
        top: auto;
        line-height: inherit;

        .Select__arrow {
            background-image: $arrow-down;

            .Tabs__item--active & {
                background-image: $arrow-down-white;
            }
        }

    }

    &__search {
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAPCAYAAADUFP50AAAACXBIWXMAAC4jAAAuIwF4pT92AAACDUlEQVR42mNgwAESKuabpjYsr8loXtOXVresNLZkkQ4DPhBaPpM/s2nVzMLOjd+rpuz+XzN93/+KSbv+F3Ru/JTRuLLPN20mF4Ymz9xJ7Fktq9dVT9nzv3b63v/VU3b9r5q881vN1N1gPsigrObVsxgaGphQNGY0roqtmLTzfx1QUeWk7VdLe7cGF/Zt1S3p2xpVNWnHLZB4Wf+2v5mNKzyR9TEWdK7fUT9zP0jTm8K+TdrIksU9m0yrJu/4UD/zwP/8jnWLEYHRMJ+jtG/zg8bZh4CmblmLzf9lE7Zub5xz+H9x76ZzcEGHhPkcZX1bHzTMPvi/pGfzKmwaS3o3bwVpBBp8FtXE/i1b6mcd+A9U8DypYqkSslxy1SIdoPi7hllAg/u2LEDRWNS7Mal2Gig0d//Pa1t3JqVqsWto6XyJ1JolPvnt6y/VTNsDCuk/hV3r3eCaYqpmSuZ3bjhYDQz66qm7/oOioKhr49/8jvWfi3o2/QNpAgVMWc+WqfDoiC2ZLpbbtnYfSBNIQeWkHW+qJm3/BFIICixQSFdP3vmxfMK21sLCVZxgTYmV80RzW9bsrJ6653/djH3/Kyduv1vQv96gZOIWHWAo5lVM3llfPmlbZnHPBi0Uf2W3rOmtnbEfqAmYMibveFDatdmIgRhQ3LHGHejh95WTdz4t6d5gzkAKAGko6t2sT4oeAPZfIRdlmszHAAAAAElFTkSuQmCC');
        width: 14px;
        height: 15px;
        margin-right: 4px
    }
}

.AppsCatalogSelectMenu {
    border-top: 1px $border-line-color solid;
    padding: 0;
    top: 18px;
    max-height: 194px;

    &__option {
        line-height: 24px;
        padding: 0 5px
    }
}

.AppsCatalogSection {
    padding: 0 15px;

    &__header {
        margin: 5px -15px 0;
        padding: 3px 15px 4px;
        border-bottom: 1px solid $border-line-color;
        background: none;
        height: auto;
    }

    &__content {
        margin: 10px 0 15px
    }

    &__title {
        color: $header-color;
        line-height: inherit;
        font-weight: bold;
    }

    &__card {
        margin-right: 10px;
    }
}

.AppsCatalogGrid {
    &__card {
        margin-right: 10px
    }
}

$apps-catalog-card-size: 110px;

.AppsCatalogCard {
    width: $apps-catalog-card-size;

    &__image {
        width: $apps-catalog-card-size;
        height: $apps-catalog-card-size;
    }

    &__name {
        font-weight: bold;
        color: $link-color;
    }

    &__category {
        color: $gray-color-9
    }
}

.AppsCatalogCardBadge {
    border-radius: 2px
}

$apps-catalog-banner-width: 415px;
$apps-catalog-banner-height: 249px;

.AppsCatalogFeaturedBanner {
    height: $apps-catalog-banner-height;

    &__slide {
        width: $apps-catalog-banner-width;
        height: $apps-catalog-banner-height;
    }

    &__prev,
    &__next {
        width: 100px
    }
}

.AppsCatalogSkeleton {
    &__sectionName {
        margin-bottom: 10px
    }

    &__block:after {
        background: none;
        animation: none
    }

    &__featuredBanner {
        padding: 10px 0;
        height: 249px;
    }

    &__card {
        margin-right: 10px;
        margin-bottom: 15px;
    }

    &__cardIcon {
        width: $apps-catalog-card-size;
        height: $apps-catalog-card-size;
    }

    &__slide {
        width: $apps-catalog-banner-width;
        height: $apps-catalog-banner-height;
    }

    &__tabsItem {
        height: 15px;
        margin-left: 15px;
    }
}

.AppsCatalogMainPage {
    &__showAllLink {
        padding: 0;
        line-height: inherit;

        &:after {
            background-image: $arrow-right;
        }
    }

    &__clearLink {
        padding: 0;
        line-height: inherit
    }
}

.AppsCatalogCategoryPage__grid,
.AppsCatalogSkeleton__grid,
.AppsCatalogSearchPage__grid,
.AppsCatalogMainPage__grid,
.AppsCatalogSkeleton__section,
.AppsCatalogSkeleton__menu {
    padding: 15px
}

.AppsCatalogSearchInput {
    &__input {
        @extend %ui_search_field;
        height: auto;
    }

    &__searchInput {
        padding: 15px 15px 0
    }

    &__resetControl {
        @extend %ui_search_reset;
        right: 0;
    }

    &__searchControl {
        display: none
    }
}