.audio_w_covers .audio_row .audio_row__performers a,
.audio_row .audio_row__performers a {
    color: $link-color;
    font-weight: bold
}

.audio_w_covers .audio_row .audio_row__performers,
.audio_row .audio_row__title_inner_subtitle {
    color: $gray-color
}

#{$exclude-dir} .audio_page_player_wrap {
    height: 26px !important;
    width: 607px !important;
    margin-top: -10px
}

._audio_section_promo,
.audio_page__rows_wrap h2 {
    display: none
}

head:not(.oldvk-option-audio) ~ body {
    .audio_row_cover_back,
    .audio_row_cover,
    .audio_sound_bars,
    .audio_page_player2 .audio_page_player__cover,
    .audio_w_covers .audio_row .audio_row__sound_bars,
    .audio_numeric .audio_row .audio_row__sound_bars {
        display: none
    }
}

head.oldvk-audios ~ body {
    #page_header_cont,
    #side_bar {
        position: fixed;
    }

    #stl_side {
        display: none !important
    }
}

#profile .audio_inline_player {
    left: 0;
    right: 5px;
}

#profile .narrow_column .audios_module .module_body {
    padding: 8px 8px 8px 0;
}

.audio_row .audio_row__performer,
.audio_w_covers .audio_row .audio_row__performer {
    font-weight: bold;
    float: left;
    top: auto;
    left: auto;
    color: $link-color;
    display: block;
    max-width: 40%
}

.audio_row .audio_row__performer_title,
.audio_w_covers .audio_row .audio_row__performer_title {
    top: 10px;
    height: auto;
    flex-direction: row;
    justify-content: flex-start
}

.audio_w_covers .audio_row .audio_row__title {
    top: auto;
    padding-left: 17px;
    order: 0
}

.audio_w_covers .audio_row .audio_row__title:before {
    content: "\2013";
    position: absolute;
    top: 0;
    left: 2px;
    display: block
}

.audio_row .audio_row__inner,
.audio_w_covers .audio_row .audio_row__inner {
    height: 34px;
    padding-left: 34px;
}

head.oldvk-option-audio ~ body .audio_w_covers .audio_row .audio_row__inner,
head.oldvk-option-audio ~ body .audio_numeric .audio_row .audio_row__inner {
    padding-left: 38px;
}

.audio_row,
.audio_w_covers .audio_row {
    height: 34px;
    padding: 0
}

.audio_row .audio_row__play_btn {
    background-image: url('data:image/gif;base64,R0lGODlhEAAgAJEDAJqxxv///199nf///yH5BAEAAAMALAAAAAAQACAAAAI/HISpCLafDpy0phDsxVpgbn0gJWaVqH3d2LWVpDUw1TiW3M7u7oEq9Ps9giwF0TT0FTcm4eI4gfKmOprtNSgAADs=') !important;
    width: 16px;
    height: 16px;
    top: 9px;
    left: 9px
}

head:not(.oldvk-option-audio) ~ body .audio_w_covers .audio_row .audio_row__play_btn {
    display: block
}

.audio_row.audio_row__playing .audio_row__play_btn {
    background-position: 0 -16px
}

.audio_row.audio_row__current .audio_row_content {
    background-color: #EDF1F5;
}

.audio_row.audio_row__current .audio_row__performer_title {
    top: 6px;
}

.audio_row.audio_row__current .audio_row__duration,
.audio_row .audio_row__duration,
.audio_w_covers .audio_row .audio_row__duration {
    top: 10px
}

head:not(.oldvk-option-audio) ~ body .audios_module .audio_row .audio_row__duration,
head:not(.oldvk-option-audio) ~ body .audios_module .audio_row .audio_row__info {
    display: block !important;
}

.audio_row__player_transition.audio_row.audio_row__current .audio_row__duration,
.audio_row__player_transition.audio_row.audio_row__current .audio_row__performer_title {
    top: 6px
}

.audio_row .audio_player__place {
    top: 23px;
    padding-left: 34px
}

head.oldvk-option-audio ~ body .audio_row .audio_player__place {
    padding-left: 38px
}

.audio_inline_player .audio_inline_player_left {
    padding-left: 0
}

.audio_row .audio_row__actions,
.audio_w_covers .audio_row .audio_row__actions {
    margin-top: -13px;
    margin-right: -4px
}

.audio_row .audio_row__action {
    width: 12px;
    height: 12px;
    background-repeat: no-repeat;
    margin: 11px 8px 11px 4px;
}

.audio_row .audio_row__action_current_delete,
.audio_row .audio_row__action_delete,
.audio_row .audio_row__action_listened_delete,
.audio_row .audio_row__action_recoms_delete {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAYAAACprHcmAAAACXBIWXMAAC4jAAAuIwF4pT92AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAERJREFUeNpj+P//PwMIxzfM/w9jI2NkcbgADKMrRBZHEUCWwCbOgEsCmwFYrcSmEEUxLg3I8qSbTLSbKQoNvOFMSgwCAFz/RSWrGUHcAAAAAElFTkSuQmCC')
}

.audio_row .audio_row__action_edit {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAACXBIWXMAAC4jAAAuIwF4pT92AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAGhJREFUeNpj+P//PwMhnNCw4D8QnwGxiVUMw2dIUQzGJCnG6SRcirFqwKcYQwMhxSgagJK1QHwWiP/gUgzXAJQ8AaWlgPggLsVgDUBJc6iJr2A24QtqkIKpSG4+QSgiQRpeQzWZE5NMADlvj4nAHiewAAAAAElFTkSuQmCC')
}

.audio_row .audio_row__action_recoms {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAACXBIWXMAAC4jAAAuIwF4pT92AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAMhJREFUeNqV0cEKAVEUxvFpWMw78A4eAO8gsSIL2VrwBPII1iJbCyuKhRRFWSBrFizIQib2xv/o3rppaCx+de6Z75vbNJbneZZIVRsOyljgoczVztE5HY5igyeGqCsjtVsj8i4whLHCFXH9JuPmBG4qE5JFAR4yn2GjlFWZvBx6OMP+UbBxQddSV42/hY3SBEsZtugHKAwkK0MbLvbo+ARb2OGOpiyK6oPEwafgGs/Tsqj9UajIIhmwID8wppclnDD1KcxwRE7OL/5eW8xACCr2AAAAAElFTkSuQmCC')
}

.audio_row .audio_row__action_next {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAMCAYAAAAK/x/DAAAACXBIWXMAAA7DAAAOwwHHb6hkAAABi0lEQVR4nGOJb5j/gYGBgZ+BePBpQX0Chvq4+rm2TEzMB4FMRmIN+s/wf8XC+sRIZDEWUgyAm0MlwMjAiGEWCzbfkgMWNSYfBlJMlJrDQgW3UAzi6xfYMzL9XwVkTmRJaFzwHsgQwKYQGHrg6ASqOf+PgSF5UX3COVyGJjTOtwFGwiEGAkkAGEfbFtYneKM6hmErUBs3UJYNFELEBLMBUNEJoKVtV5//aT09I/U3uoJ///4xAhM1EUYhAMIxDCDHzFvE8KiJlDTECvRFvZYkq290/Zy4pY0pV5ElSU1DWByT+q++/h/JaQgYH0asTCxn4hvnVwKz7ARS9YNAXONcB2BobkF3DEiOqDRElCVo5RAsrcTXzVFkZGY+ARReu4jhYU4Mg4wdEwN2x4AdxEBiVgVadO7Pvz8YUYYfgBIsQ2Ycg5wckO0IZHNhcwzYQSSkIWBC/t92DUeixpWGFjal3AemF29oToLmLuyOATuISMdcgGT7RJzZHh9Y2JhwEOIoUFkDirpHOdgcAwIAeVCqJTo8TJEAAAAASUVORK5CYII=');
    width: 15px;
}

.audio_row.audio_row__added_next .audio_row__action_next {
    background-position: -18px 0;
}

.audio_row .audio_row__action_add,
.audio_row .audio_row__action_restore_listened,
.audio_row .audio_row__action_restore_recoms,
.audio_row .audio_row__action_fave,
.audio_page_player2.audio_player_podcast .audio_page_player_fave .btn_icon {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAYAAACprHcmAAAACXBIWXMAAC4jAAAuIwF4pT92AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADJJREFUeNpjSGhYwICGzwDxfyiNIseARfF/JExHxWfQFODCZxiIVAjGJJs8SEKD6BgEAMw17LCgQbHFAAAAAElFTkSuQmCC') center 0 no-repeat;
    width: 15px;
    transition: none
}

.audio_row.audio_row__added .audio_row__action_add,
.audio_page_player2 .audio_page_player_fave.activated .btn_icon {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAMCAYAAAC9QufkAAAACXBIWXMAAC4jAAAuIwF4pT92AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAFJJREFUeNqdz8EJACEMBdHp1Fa2E0v9roIgYkziYdBDHiFIIlP5qv76C/MTTEu8wtEz3DcrA/v9x1s8uGJrwIS3zfLgjsnAEyYKLUwE3jAenLgBI25pVfSfTYAAAAAASUVORK5CYII=') 0 0;
}

.audio_row .audio_row__action_more {

    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAYAAACprHcmAAAACXBIWXMAAC4jAAAuIwF4pT92AAAALElEQVR42mPwa1zMgIYZ////D6LZ0OXQFTKAFMIwfRX/h2GoApx8GioeggAAZqCi500yuCkAAAAASUVORK5CYII=')
}

.audio_row__more_actions {
    margin: 0
}

.audio_row__more_actions .audio_row__more_action_pl_new:before {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAYAAACprHcmAAAACXBIWXMAAC4jAAAuIwF4pT92AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADJJREFUeNpjSGhYwICGzwDxfyiNIseARfF/JExHxWfQFODCZxiIVAjGJJs8SEKD6BgEAMw17LCgQbHFAAAAAElFTkSuQmCC');
    width: 11px;
    height: 11px;
    left: 7px;
    top: 9px;
    opacity: 0.8;
}

.audio_row__more_actions .audio_row__more_action_add_to_playlist:after,
.audio_page_layout2 .audio_page__audio_rows .audio_page__sort_dd .idd_header.idd_arrow {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAFCAYAAACXU8ZrAAAACXBIWXMAAA7EAAAOxAGVKw4bAAAAGnRFWHRTb2Z0d2FyZQBQYWludC5ORVQgdjMuNS4xMUfzQjcAAAAySURBVHjaY+ietaIeiP/jwfUM////Z8CjsB4kD1aEQ2E9TA6uCE1hPbI4HCArRFYAwgDaLXc3xck6cgAAAABJRU5ErkJggg==');
}

.audio_row__more_actions .audio_row__more_action_add_to_playlist:after {
    width: 9px;
    height: 5px;
    top: 13px;
}

.audio_w_covers .audio_row .audio_row__cover,
.audio_w_covers .audio_row .audio_row__cover_back,
.audio_w_covers .audio_row .audio_row__cover_icon,
.audio_w_covers .audio_row .audio_row__sound_bars,
.audio_numeric .audio_row .audio_row__sound_bars {
    width: 30px;
    height: 30px;
    top: 2px;
    left: 2px;
}

head:not(.oldvk-option-audio) ~ body .audio_w_covers .audio_row .audio_row__cover,
head:not(.oldvk-option-audio) ~ body .audio_w_covers .audio_row__cover_back {
    background: none !important;
}

.audio_row .audio_row__info {
    margin-left: 12px;
}

.audio_row.audio_hq .audio_row__info {
    margin-left: 24px;
}

.audios_module .audio_row .audio_row__info {
    margin-right: 8px;
    font-size: 10px;
}

.audios_module .audio_row .audio_row__info .audio_row__duration {
    top: 11px;
}

.audios_module .audio_row.audio_hq .audio_row__duration:before {
    left: -20px;
    top: 0;
}

.audio_row.audio_hq .audio_row__duration:before {
    left: -24px;
    top: 1px;
}

.audio_w_covers .audio_row .audio_row__cover_icon {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAQCAYAAAB+690jAAAACXBIWXMAAC4jAAAuIwF4pT92AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAEpJREFUeNpj+P//P8NgwgxDxUEwQInhh/+jgsPEyBFyECWOwgYIyhFr2KBz0P/B6KD/g9FB/0cdNJSibDTbD4mCcdBUHaO1PQwDAAI+ZRxK7kftAAAAAElFTkSuQmCC') !important;
    width: 16px;
    height: 16px;
    top: 9px;
    left: 9px;
    background-position: 0 0;
}

.audio_w_covers .audio_row.audio_row__playing .audio_row__cover_icon {
    background-position: -20px 0;
}

.audio_hq .audio_row__performer_title {
    max-width: 75%
}

.audio_search.ui_search_new input.ui_search_field {
    padding-right: 150px
}

.audio_page__sort_dd {
    .idd_arrow {
        padding-left: 5px;
        padding-bottom: 10px;

        &.idd_header {
            width: calc(100% - 12px);
            box-sizing: border-box;
            background-position: right 11px;
        }
    }

    .idd_popup {
        .idd_header,
        .idd_item {
            padding: 7px 12px
        }
    }
}

.audio_inline_player {
    margin-top: 0;
    right: 5px;
    left: 24px;

    .slider {
        padding: 1px 0 6px;
    }
}

.audio_row.inlined.audio_row_current .audio_info {
    padding-bottom: 4px;
    padding-top: 6px;
}

.audio_layout .narrow_column_wrap {
    float: right;
    margin-right: -1px;
}

.audio_layout .wide_column {
    width: 420px;
}

.audio_layout .narrow_column {
    margin-top: 47px !important;
}

.audio_rows_header {
    margin: 0 -10px;
    top: 40px;
    height: 50px;
}

.audio_page_player2 { //TODO: Собрать
    &,
    &.audio_page_player_fixed {
        background-color: #F0F1F2;
        box-shadow: 0 2px 3px -1px rgba(0, 0, 0, .2);
        position: fixed;
        width: 627px !important;
        top: 40px;
        z-index: 101;
        height: 46px !important;
        margin-left: -10px;
    }

    .audio_page_player {
        &_play {
            padding: 12px 4px 12px 12px;

            &:hover .icon {
                opacity: 1;
                background-color: transparent
            }

            .icon,
            &.audio_playing .icon {
                background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAWCAYAAAC7ZX7KAAABEUlEQVRIS2MMbVjFxs/yt5uBgSGGgYFBiIEy8J6BgWHxxz/MpSBjaGEuY3LrsgmM/xnzKXMnqu7//xk6GZj+c9DCXMaUluVvqRCy6P59BxWgNMYwzAU5+D81Q5fWZg0/B8+ujgAHWmrrCqoEXnmcM4OKrCjYrDuPXzN0LtoLZuMSR7eUYAjDHEwtRyObh2wmLnGKHEwNR9PdwZQ6ekAcTImjB8zB5Dp61MHouRI9RGDy5BZzAxLC5DoW5Fm6O5gSx9LdwZQ6lq4OpoZjMargJ28YOhfuwayakcRJrumo0oCgoiEE2xJUtIsqRg29BjwtukiMDIxd/xj/sVO7iwQylxGpExrLwMAgSGG8YeuEUtVcAMF62CjKXmjVAAAAAElFTkSuQmCC') no-repeat 0 0;
                width: 22px;
                height: 22px;
                opacity: 0.83
            }

            &.audio_playing .icon {
                background-position: -22px 0;
            }
        }

        &_next,
        &_prev {
            padding: 18px 4px;
            opacity: 0.83;

            .icon {
                background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABsAAAAKCAYAAABFXiVrAAAACXBIWXMAAC4jAAAuIwF4pT92AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAFxJREFUeNq9k8EJwDAMAz1iZ+koXfjaQAPByE770eMIKEEHxgkgVo7zYtDlzznhJRIyl4VZlnNRSiFDytIDurwoZZfLwqWUnzK6vLoo+SAr8cqsY7QviH31HZ/6BgoQWRnP/vgbAAAAAElFTkSuQmCC') no-repeat;
                width: 12px
            }
        }

        &_next .icon {
            background-position: -15px 0;
        }

        &_track_wrap {
            padding: 8px 20px 0 0
        }

        &_title_song {
            color: #627A94;
            padding-right: 3px
        }

        &_volume_wrap {
            padding-top: 27px;
        }

        &_btn {
            padding: 16px 4px;

            .btn_icon {
                opacity: 0.6
            }
        }

        &_btn .btn_icon,
        &_btn.audio_page_player_btn_enabled .btn_icon,
        &_repeat.audio_page_player_btn_repeat_one .btn_icon {
            background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFgAAAAOCAYAAACrQtveAAAACXBIWXMAAAsTAAALEwEAmpwYAAACVklEQVR42uWYS0vDQBDHi4h4Er+LePcqCEkKvdebKIJJwJOHeBUpZrcoIvi4Koj4BRTx7E3Ex0nx4AMf1VaobeJsXo1t0p1sogcNLKW7s5PJb3f+s0nOtu0c5pI1gjP8g5coI2deksn/FbIoowCwopXnJY00fQNeSxtwWh8wv5EFuKKxMSjr5g48+xv4tJymkwrrY2NhUCKMAsDg1MJOzAqwqB8Glze3aGxWodnsN84mP0uGwU/Ni+VB1swjt5FHp0+ntTG1NOSDEmHUAux1Kro5KQol4iYNWSXjofGTtIvlw0UAtv0WNT5iGP0eXCs/QyfaxxkHb0fXCoXtPlFGHYCxaR1lG7OSkMp2j6TRJUw2wP9KFlnEAwypvsp8SDpZjPOhaLTk3ouudGPkQNfK+9A6GCUCnDS9IaWuAexxaI6laKTQzUdWMsUDDPBumZ4ahtEb54ONya7m3sQxCna1B7i9/0cBj06TAbZ7WYBOEKq5xityooBDmstrVe8+NZCvJ+6zquQZbN+7AM6hAWMrfLLFoAeOPQSKOUWISgQSbrCjYf6HpJI7RPz3zDaOERowFh4rCHiJoLthW/j95EkEbyHjipzADr50ixitQ0xXEUXuAsbrro15zmPE4PqAw4y+AU6SngwWNr2doqKbp0m1tItON9JrMFnnPIvVOjWQBVFGooCboKdzKMChYxoUlbMsAGNeNHiAYVceYgFLOt0TZZRYIrK6kBJRFY2Fe0xTyRR6B4OsiTKK/BbxW4B/0j/mTQ5ka8s7hr1ExPfKsgTkYTnqW0QSwF/VVZUDUaorjwAAAABJRU5ErkJggg==') no-repeat;
            width: 14px;
            height: 14px;
            transition: none;
        }

        &_add .btn_icon {
            background-position: -46px -1px;
            width: 15px;
        }

        &_track_info_wrap {
            line-height: 20px;
        }

        &_shuffle .btn_icon,
        &_shuffle.audio_page_player_btn_enabled .btn_icon {
            background-position: -17px 0;
            width: 15px;
        }

        &_repeat .btn_icon,
        &_repeat.audio_page_player_btn_enabled .btn_icon {
            background-position: 0 1px;
            height: 15px;
            width: 15px;
        }

        &_repeat_one .btn_icon,
        &_repeat.audio_page_player_btn_repeat_one .btn_icon {
            background-position: -73px 1px;
            height: 15px;
            width: 15px;
        }

        &_btn_enabled .btn_icon {
            opacity: 1
        }

        &_recoms .btn_icon {
            background-position: -61px 0;
            width: 12px;
            margin: -1px 0 1px;
        }

        &_share .btn_icon {
            background-position: -35px 0;
            height: 14px;
            width: 11px;
        }

        &_status .btn_icon,
        &_status.audio_page_player_btn_enabled .btn_icon {
            background-image: url(data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMnB4IiBoZWlnaHQ9IjE0cHgiIGZpbGwtcnVsZT0iZXZlbm9kZCIgdmlld0JveD0iMCAwIDM2IDQyIj48Zz48cGF0aCBmaWxsPSIjNTA3MjkyIiBkPSJNMjUgNWMtMSwtMSAtMSwtMyAwLC00IDEsLTEgMywtMSA0LDAgMSwxIDIsMyA0LDUgMiw0IDMsOSAzLDE1IDAsNiAtMSwxMSAtMywxNSAtMiwyIC0zLDQgLTQsNSAtMSwxIC0zLDEgLTQsMCAtMSwtMSAtMSwtMyAwLC00IDAsMCAwLDAgMSwtMSAwLC0xIDEsLTIgMSwtMyAyLC0zIDMsLTcgMywtMTIgMCwtNSAtMSwtOSAtMywtMTIgMCwtMSAtMSwtMiAtMSwtMyAtMSwtMSAtMSwtMSAtMSwtMWwwIDB6bS0xMSA2Yy0xLC0xIC0xLC0zIDAsLTQgMiwtMSAzLC0xIDUsMCAwLDEgMSwyIDIsNCAyLDMgMyw2IDMsMTAgMCw0IC0xLDcgLTMsMTAgLTEsMiAtMiwzIC0yLDQgLTIsMSAtMywxIC01LDAgLTEsLTEgLTEsLTMgMCwtNCAxLDAgMSwtMSAyLC0zIDEsLTIgMiwtNCAyLC03IDAsLTMgLTEsLTUgLTIsLTcgLTEsLTIgLTEsLTMgLTIsLTNsMCAwem0tOCAxNmMtMywwIC02LC0zIC02LC02IDAsLTMgMywtNiA2LC02IDMsMCA2LDMgNiw2IDAsMyAtMyw2IC02LDZ6Ii8+PC9nPjwvc3ZnPg==);
            height: 14px;
            width: 13px;
        }

        &_title {
            display: flex
        }

        &_title_performer {
            order: -1;

            .artist_link {
                color: $link-color
            }
        }

        &_duration {
            padding-top: 0
        }

        &_track_slider_wrapper {
            padding-left: 0
        }

        &_track_slider.slider.slider_size_1,
        &_volume_slider.slider.slider_size_1 {
            padding-top: 2px;

            .slider {
                &_handler {
                    height: 8px;
                    width: 8px
                }

                &_back {
                    background-color: #d8dee4;
                }

                &_amount, &_slide {
                    height: 4px
                }
            }
        }

        &__cover {
            width: 46px;
            height: 46px;
            margin: 0 5px;
        }

        &_play_rate {
            font-size: 14px;
            font-weight: bold;
            line-height: 16px;
        }

        &_fave {
            .btn_icon,
            &.activated .btn_icon {
                background-position: center !important;
                margin: 1px 0
            }
        }

        &_title_song_title:before {
            content: "\2013";
            padding: 0 4px
        }
    }

    .audio_page_player_title_performer,
    #audio_status_tt .hint_title {
        font-weight: bold;
        color: $link-color;
    }

    .audio_page_player_duration,
    .slider_hint.audio_player_hint {
        font-size: 0.9em;
    }

    .audio_player_btn_added .btn_icon {
        background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAMCAYAAAC9QufkAAAACXBIWXMAAC4jAAAuIwF4pT92AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAFJJREFUeNqdz8EJACEMBdHp1Fa2E0v9roIgYkziYdBDHiFIIlP5qv76C/MTTEu8wtEz3DcrA/v9x1s8uGJrwIS3zfLgjsnAEyYKLUwE3jAenLgBI25pVfSfTYAAAAAASUVORK5CYII=') 0 2px;
        width: 15px
    }

    &.audio_page_player_fixed_shown,
    &.audio_page_player_fixed {
        transform: none;
        -webkit-transform: none;
        transition: none
    }

    .savefrom_vk_download {
        margin-top: 4px !important;
    }

    .slider_hint.audio_player_hint {
        margin-top: 4px
    }

    &.audio_player_podcast .audio_page_player_play_rate .btn_icon {
        background: none
    }

}

.audio_rows_header.fixed {
    box-shadow: none;
    position: static;

    body.mac & {
        -webkit-transform: none;
        transform: none;
    }
}

.audio_layout .wide_column .page_block {
    padding-top: 0 !important;
    z-index: auto !important;
}

.audio_search_input {
    padding-bottom: 10px;
    background: none;
}

.audio_rows h3 {
    margin: 0 10px 10px;
}

._audio_padding_cont {
    padding: 0 10px 0 5px;
}

.audio_layout .ui_rmenu_item,
.audio_layout .ui_rmenu_subitem,
#docs_rmenu .ui_rmenu_item,
#docs_rmenu .ui_rmenu_subitem {
    padding: 6px 11px 7px;
    font-weight: normal;
    margin: 0;
    border-radius: 0;
    width: 154px;
}

.audio_layout .ui_rmenu_item_sel:hover,
.audio_layout .ui_rmenu_subitem_sel:hover {
    padding-left: 11px;
    font-weight: normal;
}

.audio_add_box {
    padding: 10px 15px;
}

.audio_layout .ui_rmenu,
._audio_additional_block_friends {
    padding: 10px;
    border-left: 1px solid $border-line-color;
    border-right: 1px solid $border-line-color;
}

.audio_menu_btn,
.audio_album_btn {
    margin: 0;
}

.audio_add_upload_btn {
    margin-bottom: 0;
}

.audio_rows {
    padding: 0 0 12px;
}

.audio_catalog_performers {
    padding: 0 10px;
    width: 100%
}

.audio_feed_post {
    padding: 10px 0;
}

.audio_feed_post .audio_feed_rows {
    width: 359px;
    margin-top: 0;
    padding-left: 0
}

.audio_feed_post .audio_feed_author {
    font-weight: bold;
}

._audio_additional_block_friends {
    margin: 0 -10px;
    background: #F7F7F7;
    border-bottom: 1px solid $border-line-color;
}

.audio_friends_list,
.audio_friends_more_wrap {
    background: #F7F7F7;
}

.audio_friend.audio_friend_selected {
    padding-left: 5px
}

.audio_friend_name,
.audio_friend_name_now {
    width: 115px;
    line-height: 1.36em;
    color: $link-color
}

.audio_catalog_performers .audio_catalog_performer_thumb {
    height: 95px;
    width: 95px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.audio_catalog_performers_more_wrap {
    padding: 10px;
}

.audio_catalog_performers_more_wrap .flat_button.secondary {
    background-color: #f5f7fa;
    border-top: none;
}

.audio_catalog_performers_more_wrap .flat_button.secondary:hover {
    background-color: #dfe6ed;
}

.audio_catalog_performers_more_wrap .flat_button.secondary:active {
    padding: 14px 0 13px;
}

#audio_status_tt .audio_status_wrap .ui_scroll_content {
    padding: 10px
}

.audio_page_layout2 {
    .ui_search.ui_search_new {
        margin: 0 3px 10px
    }

    .audio_search {
        width: 424px;
        padding-top: 10px;
        background: none
    }

    .audio_section {
        padding: 0 3px
    }

    .has_friends_block .audio_page__rows_wrap {
        padding-right: 10px;
        border-right: 0;
        width: 422px;
    }

    .audio_page__audio_rows_list {
        margin: 0;
        // min-height: 78px;
    }

    .audio_friends_fixed {
        position: static
    }

    .audio_friends_list_wrap {
        float: right;
        margin-right: -13px;
        background: #F7F7F7;
        border-left: 1px solid $border-line-color;
        border-bottom: 1px solid $border-line-color;
    }

    .audio_friends_list {
        background-color: #F7F7F7;
        padding: 0;
    }

    .ui_tabs {
        float: right;
        padding: 10px;
        border-bottom: 1px solid $border-line-color;
        background-color: #F7F7F7;
        width: 156px;
        border-left: 1px solid $border-line-color;

        .ui_tab {
            padding: 6px 24px 7px 11px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            float: none;
            margin-right: 0
        }

        &_header {
            margin-left: 10px
        }
    }

    #audio_friends_search {
        background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAYAAACprHcmAAABE0lEQVR4AXRQg5YDMRS9dY/WNus2ydb+gLWtmWRt+9v3nVpzg2eiDtlfG2af+hFXfogLX+Fx3WuaWh0CYEEFX99m8JsBhI4FYicCKTkN//YU4qccETkH9j6ACnwbDjBSco0jd9td0bsW2hE+ZBCSVXSm6WsnwkcJpPRpNMA0sz9OtkiN8w05a0kktRk0IrA3SdmrzlTGjvBVAOkrF/J6f0Wfu+tGQuOVNirOcTULoTOENBfSp66CHKdhGQ0dfiokgMmjjyKmB0zBkyAilDl86QI/8yNOj8kAzTNQWCutaowyCCRPw0hRgPfXUagidDs4PeIt+DOjAHY5Q4OFEaNSnCoYwwQLfs2FAEYV/vf5OyMDHgAAUMM4dAXgoYAAAAAASUVORK5CYII=') 138px 7px no-repeat #e3e9ef;
        padding: 6px 11px;

        &:focus {
            border: 1px solid #C3CBD4;
            background-color: #FFF;
            background-position: 137px;
            padding: 5px 10px
        }
    }

    .audio_friends_list_wrap .ui_search.ui_search_new {
        margin: 8px 10px 4px;
        border: none;
        background-color: #F7F7F7;
    }

    .audio_friends_more_wrap .audio_more_friends_btn {
        background-color: #e3e9ef;
        color: #616e7e;

        &:hover {
            background: #dae2e9;
        }
    }

    .audio_friends_more_wrap {
        padding: 6px 10px 10px;

        &:before {
            content: "";
            display: block;
            border-bottom: 1px solid $border-line-color;
            margin-bottom: 10px
        }
    }

    h2.page_block_h2 {
        border-bottom: none
    }

    .audio_recoms_block {
        padding: 15px 5px 10px;
    }

    .audio_page_block__show_all_link {
        margin-top: 0
    }

    .audio_owner_item {
        padding: 5px;
        width: 111px;
        height: 148px;
    }

    .audio_owner_items_wrap {
        margin: 0 -5px;
    }

    .audio_owner_item .audio_owner_item__img,
    .audio_pl_item2 .audio_pl__cover {
        width: 111px;
        height: 111px
    }

    .audio_owner_item .audio_owner_item__play {
        height: 150px;
        background-position: 50% 30%;
        transform: translateY(5px);
        opacity: 1;
        -webkit-transform: translateY(5px);
    }

    .audio_page_block__playlists_items {
        margin: -5px -5px 0;
    }

    .audio_recoms_blocks,
    .audio_section__recoms {
        .recoms_special_thumb {
            width: 50px;
            height: 50px;
            background-size: cover;
            border-radius: 3px;

            &_0 {
                right: 0;
                top: 50px;
            }

            &_1 {
                right: 66px;
                top: 50px;
            }

            &_2 {
                right: 34px;
                top: 84px;
            }

            &_3 {
                right: 100px;
                top: 84px;
            }

            &_4 {
                right: 0;
                top: 118px;
            }

            &_5 {
                right: 66px;
                top: 118px;
            }

            &_6 {
                right: 132px;
                top: 118px;
            }
        }

        .recoms_special_block {
            &_title {
                font-size: 16px;
            }

            &_subtitle {
                font-size: 14px;
                width: 418px;
            }

            &_inner {
                padding: 0 0 0 5px;
            }
        }

        .recoms_special_recoms {
            width: 423px;

            &:hover #recoms_special_listen_all_btn {
                background-color: #6d8cb0;
            }
        }

        #recoms_special_listen_all_btn {
            margin-top: 50px;
            margin-left: 29px;
            background-color: #597DA3;
            padding: 6px 14px 6px 26px;
            border-radius: 3px;

            &:before {
                left: 10px;
                top: 8px;
            }
        }
    }

    .audio_page_section_layout:not(.no_playlists).has_friends_block .audio_page_separator,
    .audio_page_section_layout:not(.no_playlists):not(.no_audios) .audio_page_separator {
        display: none !important
    }

    .audio_page_section_layout:not(.no_playlists) ._audio_page_titled_block {
        display: none
    }

    .audio_owner_avatar {
        border-radius: 3px;
        margin: 5px 0 0
    }

    .audio_section_global_search__audios_block {
        padding: 5px
    }

    .audio_section_search__communities {
        padding: 10px 5px;
    }

    .podcast_page_list .audio_page__audio_rows,
    .podcast_page_list .audio_page__audio_rows_list {
        width: 100%
    }

    .audio_page__audio_rows .audio_page__sort_dd:not(:empty) {
        right: 0;
        top: -37px;
        background-color: #6383a8;
        padding: 7px 12px 9px;
    }

    .audio_page__audio_rows .audio_page__sort_dd:hover {
        text-decoration: none;
        background-color: #6d8cb0;
    }

    .audio_page__audio_rows .audio_page__sort_dd {
        .idd_selected_value {
            color: #FFF;

            &:hover {
                text-decoration: none
            }
        }

        .idd_popup {
            margin: 0 !important;
            right: 0;
            top: 0;
        }
    }

    .audio_page__main_tabs_btn.audio_page__add_audio_btn {
        background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAYAAACprHcmAAAACXBIWXMAAC4jAAAuIwF4pT92AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAC9JREFUeNpj+P//PwMaPvMfAs6gyzFgUYwM6Kj4zH/iwBmG/yQAkk0eJKFBdAwCAGkOoNTHpeAPAAAAAElFTkSuQmCC') no-repeat center;
        width: 11px;
        right: 10px;
    }

    .audio_page__main_tabs_btn.audio_page__add_playlist_btn {
        right: 36px;
        padding-right: 0;
        background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAALCAYAAACgR9dcAAAACXBIWXMAAC4jAAAuIwF4pT92AAAAy0lEQVR4nGP59+/fCUZGRnMGIsD////PAdUaw/gsQPwGKPiGGM0gtcgcFqBJPkRqxAAsQFsPAmkzPGouMzMzm//9+3cBkK0CtMwarhmIfwPxHzyaf0NpW6BGxXPnzrEaGRn9hjnbhZDzgIEKCiyszt4DpNFD+1pTU5NlXV3dNCA7GirGBSIMDQ3fQQ06CXI2K9T5KIZqa2szQsVhcowwOSjNCnK2PTanhoSEgKgUKAY5+x6QUjx//jwf3M+E/IsPkKL5JND29zBbQQAAlEZEAZzuvgsAAAAASUVORK5CYII=') right no-repeat;
        width: 15px;
    }

    .audio_page__main_tabs_btn {
        position: absolute;
        top: 10px;
        height: 11px;
        margin: 0;
        padding: 8px 7px 7px;

        &:active {
            margin-top: 1px
        }
    }

    .audio_friend {
        padding: 4px 0;
    }
}

#audio_layer_tt {

    left: -525px !important;
    width: 625px !important;

    .audio_page_layout2 {
        .audio_search {
            padding-top: 0;
        }

        .audio_section {
            padding: 0 0 0 10px;
        }

        .ui_tabs {
            margin-top: -39px;
            margin-right: -20px;
            font-weight: normal;
        }
    }

    .eltt_arrow_back {
        margin-left: 460px !important
    }

    .audio_page_player2 {
        top: 0;
        margin-left: 0;
        width: 625px;
        position: static;

        .audio_search {
            width: 428px;
            margin: 10px
        }

        .ui_tabs {
            margin-top: -38px;
        }
    }

    .audio_page_content_block_wrap {
        margin-top: 0
    }

    .audio_page__audio_rows_list {
        width: 428px
    }

    .ui_tabs {
        .ui_tab.ui_tab_sel {
            background: #597DA3;
            color: #FFF
        }

        .ui_tab:not(.ui_tab_sel):hover {
            background: #E1E7ED;
        }
    }

    .audio_friends_list_wrap {
        margin-right: 0
    }

    > .eltt_arrow_back .eltt_arrow {
        border-bottom-color: #f0f1f2;
    }
}

.audio_page_layout2 .audio_friends_list_content,
.audio_layer_container .audio_friends_list_wrap,
.audio_layout .narrow_column,
.audio_layout .narrow_column_wrap {
    width: 176px;
}

.audio_friend_audios_count {
    max-width: 115px;
    font-size: 0.9em
}

._audio_page_content_block,
.audio_page_layout2 .ui_tabs_header {
    z-index: 1
}

.page_block._audio_page_content_block:before {
    box-shadow: none;
}

.audio_section__playlists {
    width: 474px;
}

.audio_pl_item2 {
    width: 121px;
    padding: 5px;
    height: 173px;
}

.ape_search {
    padding: 10px 15px
}

.audio_page__playlists_count_header {
    font-weight: bold;
}

.audio_pl_edit_box .ape_audio_item_wrap .ape_check .ape_check_icon {
    margin: 0
}

.audio_pl_edit_box .ape_audio_item_wrap .ape_check {
    padding: 10px
}

.audio_pl_edit_box .ape_add_audios_btn,
.audio_pl_edit_box .ape_add_pl_audios_btn {
    color: $link-color;
}

.audio_row.hq .audio_hq_label {
    margin: 1px 6px 0 8px
}

.audio_pl_item2 .audio_pl__actions_play {
    width: 37px
}

.audio_pl_item2 .audio_pl__actions_btns {
    left: 0;
}

.audio_pl_item2 .audio_pl__actions_btn {
    margin: 0 3px
}

.audio_pl_item2 .audio_pl__cover:hover .audio_pl__actions_btns {
    opacity: 1;
    top: 32px
}

.audio_feed_post .audio_feed_text {
    margin-top: 0
}

.audio_page_content_block_wrap {
    margin-top: 10px;

    .page_block_header {
        padding-top: 10px
    }
}

.audio_feed_post.clear_fix:after {
    clear: left;
}

.audio_page__audio_rows_list,
.audio_section__updates,
._audio_section_search__local_audios_list,
.audio_page_layout2 .audio_page__audio_rows {
    width: 424px
}

.audio_layer_container .ui_tab {
    margin-bottom: 0
}

.audio_pl_edit_box .ape_audio_item_wrap .ape_attach {
    margin-top: 10px
}

.audio_pl_snippet_follow:before {
    content: none
}

.savefrom_vk_download.sf-audio-btn {
    width: 12px !important;
    height: 12px !important;
    background-size: 12px !important;
    opacity: 0.7
}

.sf-bitrate-value {
    top: 13px !important;
    font-size: 10px !important;
}

.audio_page__shuffle_all .audio_page__shuffle_all_button {
    color: $link-color;
    line-height: 30px;
    padding-left: 48px;
    max-width: 427px;

    &:before {
        height: 30px
    }

}

.slider .slider_amount {
    background-color: #5c7a99;
}

.slider .slider_loading_bar {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAECAYAAABcDxXOAAAACXBIWXMAAC4jAAAuIwF4pT92AAAAQUlEQVR42mNoaGhgQMY7j19v2HH8+n8YBvFRFHR09QgBJSYhKXqzYc+pXBRFi1Zt8QFKnEFStGnanEXGBK0CiQMAS15WqQ7yxxQAAAAASUVORK5CYII=');
    background-size: 9px 4px
}

.audio_row.audio_explicit .audio_row__duration:before {
    top: 1px;
    left: -15px;
}

.audio_pl_item2.audio_pl__explicit .audio_pl__title:after {
    top: 0
}

.audio_pl_snippet__artist_link {
    font-weight: bold;
    color: $link-color !important;

    .audio_pl_snippet2.audio_pl_snippet_small & {
        width: 100%;
        line-height: 1.5;
    }
}

.audio_pl_item2 .audio_pl__year_subtitle {
    color: $gray-color
}

.audio_pl_item2 .audio_pl__title {
    overflow: hidden;
    text-overflow: ellipsis;
}

.audio_page_layout {
    .audio_block_small_item .audio_block_small_item {
        &__info {
            line-height: 16px
        }

        &__title .page_verified {
            //left: -20px;
            top: 3px;
        }
    }

    .audio_search_wrapper {
        padding: 0
    }

    .top_audio_layer_place & .audio_search_wrapper {
        padding: 10px 10px 0
    }

    .audio_page__audio_rows > h2 {
        margin-top: 0
    }

    .audio_page_block__show_all_link {
        margin-top: 0;
        right: 15px;
        position: static;
        padding-bottom: 5px;

        &_arrow,
        &:after {
            margin-top: 3px;
            background-image: $arrow-right;
        }
    }

    .audio_block {
        padding: 10px 0;
    }
}

.audio_w_covers .audio_row .audio_row__cover,
.audio_w_covers .audio_row.audio_row_with_cover:hover .audio_row__cover_back {
    border-radius: 2px
}

.audio_row .audio_row__performers,
.audio_row .audio_row__title,
.audio_row.audio_row__current .audio_row__performers,
.audio_row.audio_row__current .audio_row__title {
    padding-top: 0
}

// Top audio player

.top_audio_player {
    position: fixed;
    background: #dee5eb;
    left: 50vw;
    top: 50px;
    margin-left: 380px;
    border-radius: 4px;
    width: 200px;
    height: 36px;
    transition: opacity 200ms ease-in-out;

    .top_audio_player_btn {
        padding: 12px 8px 10px;
    }

    .top_audio_player_title_wrap {
        margin: 4px 0 0;
        height: 32px;
    }

    @media only screen and (max-width: 1024px) {
        left: 16px;
        bottom: 16px;
        margin-left: 0;
        top: auto

    }

    @media only screen and (max-width: 830px) {
        display: none !important
    }

    &:hover {
        background: #dee5eb;
    }

    &.top_audio_player_enabled {
        opacity: 0.6;

        &:hover {
            opacity: 1
        }
    }

    .top_audio_player_title {
        color: $header-color;
        transition: none;
        line-height: 1.3em;
        white-space: nowrap;

        .oldvk-title {
            @extend %oldvk-title;

        }

        .oldvk-performer {
            @extend %oldvk-title;
            font-weight: bold;
        }

    }

    .top_audio_player_btn .top_audio_player_btn_icon {
        opacity: 0.8;
        width: 14px;
        height: 14px;
    }

    .top_audio_player_play .top_audio_player_btn_icon {
        background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAACXBIWXMAAC4jAAAuIwF4pT92AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADtJREFUeNpj+P//PwM5GEOgoGPZfxAmWyMhzXg14tNMUCMuzURpxKaZaI3ommmvkX6BQ78EQHKSIxYDAAfaNZO96hpeAAAAAElFTkSuQmCC') no-repeat;
    }

    &.top_audio_player_playing .top_audio_player_play .top_audio_player_btn_icon {
        background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAOCAYAAAD0f5bSAAAACXBIWXMAAC4jAAAuIwF4pT92AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADFJREFUeNpj+P//PwOpGEwUdCw7DMT/kfBhmAJscjCJ/+gYSROG3KimEaCJ9GREKgYAvs/xDk8PxfQAAAAASUVORK5CYII=') no-repeat;
    }
}

.top_audio_player_prev,
.top_audio_player_next {
    display: none
}

%oldvk-title {
    float: left;
    clear: both;
    transform: translateX(0);
    transition-duration: 1.5s;
    transition-timing-function: cubic-bezier(0.13, -0.02, 0.92, 1);
    transition-delay: 0.1s;

    &:hover {
        transform: translateX(calc(170px - 100%));
    }

    &.oldvk-no-scroll:hover {
        transform: translateX(0);
    }
}

.top_audio_player_title .savefrom_vk_download {
    display: none
}

// Podcasts

.podcast_snippet {
    .post &,
    .wl_post & {
        margin: 7px 0 5px;
    }

    &__title {
        font-size: 14px;
        color: #545454;
    }

    &__play {
        border-radius: 2px;
        line-height: 16px;
        background-color: $header-color;
        color: #FFF
    }

    &__time {
        color: #717171;
        align-self: flex-end
    }

    &__content {
        border: 1px $border-line-color solid;
        border-left: none;
        margin-left: 120px;
        height: 120px;
        background-color: #f7f7f7;
        padding: 10px;
    }

    &__cover {
        width: 120px;
        height: 120px;
    }

    &__controls {
        bottom: 10px;
        left: 10px;
        right: 10px;
    }

    &__info,
    &__name {
        color: #717171;
    }

    &__button_icon--play,
    .audio_row__playing &__play:before {
        width: 10px;
        height: 10px;
        left: 12px;
        top: 10px;
        background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAKCAYAAABblxXYAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAO0lEQVR42mP4//8/AxTDAAMeXIykrhiXOAMWQ/EZ/B+HOpya/xNhMMWG/qeVof+HjKGDP6KonqQoTvwAQTbm0bCh+08AAAAASUVORK5CYII=') no-repeat;

    }

    .audio_row__playing &__play:before {
        background-position: -11px 0
    }
}

.audio_podcast .audio_row__performers {
    font-weight: bold
}

.podcast_episode_layer__header .audio_podcast {
    ._audio_player__place {
        top: 16px;

        &:before {
            margin-right: 50px;
            margin-left: 5px;
            height: 4px
        }

        .audio_inline_player_left {
            padding-left: 5px;
        }

        &.has_audio_player .audio_inline_player_right {
            visibility: visible
        }
    }
}

.podcast_episode_layer__info {
    .audio_podcast ._audio_player__place {
        padding-right: 0
    }

    .button_action_light_more {
        top: 0;
        padding-right: 24px;

        &:before {
            top: 2px;
            right: 3px;
        }
    }
}

.button_action_light:before {
    width: 24px;
    height: 24px
}

.audio_row.audio_podcast .audio_row__actions,
.audio_w_covers .audio_row.audio_podcast .audio_row__actions {
    margin: 0
}

// Albums

.audio_numeric .audio_row .audio_row__cover_icon {
    background-image: url("data:image/gif;base64,R0lGODlhEAAgAJEDAJqxxv///199nf///yH5BAEAAAMALAAAAAAQACAAAAI/HISpCLafDpy0phDsxVpgbn0gJWaVqH3d2LWVpDUw1TiW3M7u7oEq9Ps9giwF0TT0FTcm4eI4gfKmOprtNSgAADs=") !important;
    background-position: 0 0;
    width: 16px;
    height: 16px;
    top: 9px;
    left: 9px;
}

.audio_numeric .audio_row .audio_row__counter {
    top: 1px
}

.audio_numeric .audio_row__current .audio_row__cover_icon {
    display: block
}

.audio_numeric .audio_row__playing .audio_row__cover_icon {
    background-position: 0 -16px
}

.audio_pl_snippet2 .audio_shuffle_all_button {
    color: #777;
}

._audio_pl.audio_pl_top_audios .audio_row .audio_row__inner:before {
    width: 16px;
    color: #777;
    font-weight: normal
}

._audio_pl.audio_pl_top_audios .audio_row.audio_row__current .audio_row__inner:before {
    display: none
}

head.oldvk-option-audio ~ body .audio_numeric .audio_row .audio_row__cover_icon {
    display: none
}

head.oldvk-option-audio ~ body .audio_numeric .audio_row:hover .audio_row__cover_icon {
    display: block
}

head.oldvk-option-audio ~ body .audio_row .audio_row__inner,
head.oldvk-option-audio ~ body .audio_w_covers .audio_row .audio_row__inner {
    padding-left: 38px;
}

.audio_pl_snippet2 .audio_pl_snippet__info {
    padding: 15px;

    &_title {
        color: $link-color;
        font-size: 1.5em;
    }

    @at-root .audio_pl_snippet_small#{&}_title {
        font-size: 1.2em;
        line-height: 1.2;
    }

    @at-root .audio_pl_snippet_small#{&}_line_small {
        white-space: normal
    }

    @at-root .audio_pl_snippet_small#{&}_inner {
        height: auto
    }
}

.ap_layer .audio_pl_snippet2 .audio_pl_snippet__action_btn_more {
    top: 0
}

.audio_pl_snippet__action_btn_more .ui_actions_menu {
    line-height: 20px
}

.audio_pl_snippet2 .audio_pl_snippet__action_btn,
.podcast_episode_layer__actions .button_action_light {
    line-height: 18px;
    padding: 4px 10px 4px 28px;
    color: $link-color;
    margin-right: 5px;
    box-sizing: border-box;
}

.audio_pl_snippet2 .audio_pl_snippet__action_btn:hover,
.podcast_episode_layer__actions .button_action_light:hover {
    background: #E1E7ED;
    border-radius: 3px
}

.audio_pl_snippet2 .audio_pl_snippet__action_btn:before {
    background-size: auto;
}

.audio_pl_snippet2 .audio_pl_snippet__action_btn_more,
.podcast_episode_layer__actions .button_action_light_more {
    padding-left: 10px
}

.audio_pl_snippet2 .audio_pl_snippet__action_btn_more .audio_pl_actions_icons {
    padding-bottom: 0
}

.audio_pl_snippet2 .audio_pl_snippet__action_btn_add:before,
.ActionButton--add:before,
.button_action_light_bookmark:before,
.podcast_snippet__fave {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAYAAACprHcmAAAACXBIWXMAAC4jAAAuIwF4pT92AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADJJREFUeNpjSGhYwICGzwDxfyiNIseARfF/JExHxWfQFODCZxiIVAjGJJs8SEKD6BgEAMw17LCgQbHFAAAAAElFTkSuQmCC) no-repeat center
}

.audio_pl_snippet2 .audio_pl_snippet__action_btn_share:before,
.ActionButton--share:before,
.button_action_light_share:before {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAYAAACprHcmAAAACXBIWXMAAC4jAAAuIwF4pT92AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAEFJREFUeNpj+P//PwMxOKBo0lOiFQIx8QrBioHEURiHEGYgViFZiol3BppnwII4PUhIMc6gw6UYa6QABc7iUgzCAOhCPePAHEQdAAAAAElFTkSuQmCC') no-repeat center
}

.audio_pl_snippet2 .audio_pl_snippet__action_btn_listen:before,
.audio_pl_snippet2 .audio_pl_snippet__action_btn_listen:hover:before {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAACXBIWXMAAC4jAAAuIwF4pT92AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADpJREFUeNpj+P//PwMMF3Qs+w/CyGLomAGbBnyacGrApQmvBmyaCGpA10SUBmRNtNFAO0/TLuLwJQ0AP9WaIJbPZQkAAAAASUVORK5CYII=') no-repeat center
}

.audio_pl_snippet2.audio_pl__playing .audio_pl_snippet__action_btn_listen:before,
.audio_pl_snippet2.audio_pl__playing .audio_pl_snippet__action_btn_listen:hover:before {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAACXBIWXMAAC4jAAAuIwF4pT92AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAACtJREFUeNpjKOhYdhiI/yPhw////2cAYWxyDGgCYIykAUNuVMMQ1kBS0gAAMcx/gP1rpBEAAAAASUVORK5CYII=') no-repeat center
}

.audio_pl_snippet2.audio_pl__followed .audio_pl_snippet__action_btn_add:before,
.ActionButton--add--added:before,
.button_action_light_bookmark.activated:before,
.audio_row .audio_row__action_fave.activated,
.podcast_snippet__fave.activated {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAANCAYAAAB2HjRBAAAACXBIWXMAAC4jAAAuIwF4pT92AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAFRJREFUeNqd0MsJACEMRdHbqa1MJ1Pqc0YQRIz5LC66yCEokqiWBu159fWfMC/BtEQVjspw36wMHB92eosHV2wNmPC2WR7cMRl4wkShhYnAG8aDE3fEV5YoKE/zIgAAAABJRU5ErkJggg==') no-repeat center
}

.ap_layer .audio_pl_snippet2 .audio_pl_snippet__action_btn_share {
    padding-right: 10px
}

.audio_pl_snippet2 .audio_pl_snippet__action_btn_more .audio_pl_actions_icons:after,
.ActionButton--more:after,
.button_action_light_more:before {
    width: 9px;
    height: 8px;
    margin-left: 5px;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAFCAYAAACXU8ZrAAAACXBIWXMAAA7EAAAOxAGVKw4bAAAAGnRFWHRTb2Z0d2FyZQBQYWludC5ORVQgdjMuNS4xMUfzQjcAAAAySURBVHjaY+ietaIeiP/jwfUM////Z8CjsB4kD1aEQ2E9TA6uCE1hPbI4HCArRFYAwgDaLXc3xck6cgAAAABJRU5ErkJggg==') no-repeat 50%
}

.audio_pl_snippet2 .audio_pl_snippet__artist_link {
    display: inline
}

._playlist_page_content_block {
    box-shadow: none;
    margin-top: 0
}

.AudioPlaylistSnippet {
    display: block;
    padding: 15px 5px;

    &__left,
    &__header,
    &__body {
        float: left
    }

    &__header {
        margin-left: 15px
    }

    &__right {
        margin: 0;
        max-width: none;
    }

    &__title {
        margin-bottom: 8px
    }

    &__author a {
        color: #555;
    }

    & &__title--main.h1 {
        font-size: 16px;
        color: #555;
    }

    & &__title--additional.h3 {
        line-height: inherit;
        border-bottom: none;
        padding: 0;
        color: #999;
        font-size: 14px
    }

    &__actionButton {
        padding-right: 10px;
        margin-right: 10px;

        &:hover {
            background: #E1E7ED;
            border-radius: 3px;
        }
    }
}

.ActionsMenu__inner {
    margin-top: 26px;
    padding: 0
}

.ActionButton--more {
    padding-left: 10px;

    &:after {
        height: 24px
    }
}

.audio_pl_snippet2 .audio_pl_snippet__action_btn_share {
    float: none;

    &_text {
        display: inline
    }
}

.wide_column:not(.wide) .audio_pl_snippet2 .audio_pl_snippet {
    $audio-pl-snippet-size: 130px;
    $audio-pl-small-snippet-size: 64px;

    &__action_btn {
        padding-left: 14px;

        span {
            display: none
        }
    }

    &__header_inner {
        height: $audio-pl-snippet-size - 2px;
    }

    &__cover {
        width: $audio-pl-snippet-size;
        height: $audio-pl-snippet-size;
    }

    &__info {
        margin-left: $audio-pl-snippet-size;
        height: $audio-pl-snippet-size;
        padding: 10px
    }

    @at-root .wide_column:not(.wide) .audio_pl_snippet2.audio_pl_snippet_small .audio_pl_snippet {
        &__info {
            margin-left: $audio-pl-small-snippet-size;
            height: $audio-pl-small-snippet-size;
        }

        &__cover {
            width: $audio-pl-small-snippet-size;
            height: $audio-pl-small-snippet-size;
        }
    }
}

.CatalogSection {
    background: none;
    padding: 0;
    margin: 0;

    &:before {
        box-shadow: none;
    }

    &__my {
        width: 427px
    }

    &__stickyColumn {
        position: absolute;
        top: 84px;
        background: #f7f7f7;
        border-left: 1px solid $border-line-color;
        border-bottom: 1px solid $border-line-color;
        padding: 10px;
        width: 156px;
    }

    &__rightColumn {
        padding-left: 3px;
    }

    &__leftColumn {
        border-right: none;
        padding-right: 10px;
    }

    &__for_you .CatalogBlock--divided:first-child {
        width: 427px
    }

    &__friends_updates {
        margin-top: 10px
    }
}

.CatalogBlock {
    &--divided {
        background: none;
        padding: 10px 0 0;
        margin: 0;

        &:before {
            box-shadow: none;
        }
    }

    &__separator {
        background: none;
        margin: 10px 0 0;
    }

    &__header {
        margin: 0 0 10px;
        width: auto;
        line-height: inherit;
    }

    &__title {
        @extend %h2;
        width: 100%;
        font-size: 11px
    }

    &__leftColumn {
        padding-right: 10px;
    }

    &__headerActions {
        position: absolute;
        right: 4px
    }

    &__bannerItems .ui_gallery__arrow {
        margin-top: 49px
    }

    &__audio_friends .ui_search_new .ui_search_input_inner {
        height: 25px
    }
}

#{$exclude-dir} .CatalogBlock__header {
    width: auto
}

.PlaceholderSmall {
    &__title {
        font-size: inherit;
        color: $link-color
    }

    &__text {
        font-size: inherit;
        line-height: inherit;
        color: #777
    }
}

.BannerItem {
    background-color: #F0F1F2;
}

.post:not(.post_fr_likes):not(.postponed):not(.post_copy) .post_info .audio_pl_snippet2:last-child {
    margin-bottom: 0
}

.audio_restriction_box .box_body {
    padding: 15px
}

.audio_restriction_box__title {
    color: $header-color;
    font-weight: bold;
}

.LinkSnippet {
    align-items: flex-start;
    &__text {
        padding-bottom: 5px
    }
}

.CatalogSection__friends_updates .CatalogBlock__list .audio_page__audio_list_block,
.CatalogSection__friends_updates .CatalogBlock__list ._audio_page__playlists {
    margin-top: -30px
}