#group_section_menu .module_body .ui_gallery .ui_gallery_item {
    &:first-child {
        margin-left: 0
    }

    &:last-child {
        margin-right: 0;
    }

    .groups_menu_item {
        .groups_menu_item_title {
            margin-top: 5px;
            width: 94px;
        }

        .groups_menu_item_image {
            height: 71px;
            width: 104px;
        }
    }
}

#group_section_menu .module_body {
    padding: 10px 0 10px
}

.group_friends.followers_hidden {
    &.no_friends {
        padding: 0 6px 10px;
    }

    .group_friends_text .group_friends_count {
        color: #777;
        font-weight: bold
    }
}

.group_friends_image {
    margin-right: 0;
    border-radius: 4px;
}

.friends_dropdown__list_item .friends_dropdown__list_image {
    border-radius: 3px
}

.friends_dropdown__list_content .ui_scroll_content {
    padding: 0
}

.photo_tooltip .photo_tooltip__name {
    padding: 10px
}

.page_photo.page_action_menu_groups .page_actions_item .ui_rmenu_count {
    margin: 0
}

.page_menu_group_notifications .ui_rmenu_count.grey {
    border-radius: 2px;
    transition: background-color 200ms linear, color 200ms linear;
}

.DonutWallInfo {
    background-size: 50px 50px;
    background-position: 20px 20px;
    --group-wall-donut-icon-size: 50px;

    &__title {
        color: $header-color;
        font-weight: bold;
    }

    &__text {
        line-height: inherit;
    }
}

.PageGroupMenu___marketBadgeNew.PageGroupMenu___marketBadgeNew--show {
    margin-top: 0;
    vertical-align: middle;
}

.stories_groups_block_stories_empty .page_module_upload {
    color: $link-color
}

.DonutModule__title {
    font-weight: bold;
    color: $header-color;
    font-size: 1.1em
}

.DonutCatalogPromo {
    padding: 10px 5px;
    margin: 10px 0;
    box-shadow: none;

    &__title {
        @extend %header-text
    }
}

.wall_module .post.Post--with_closed_comments_donut {
    padding-bottom: 0
}

.ProfileActions {
    .page_actions_expanded {
        .page_actions_item {
            color: $link-color;
            margin: 0;

            &:hover,
            &:active {
                background-color: $background-hover !important;
            }

            &:before {
                display: none
            }
        }

        @at-root .page_photo#{&} {
            margin-top: 0
        }
    }

    .PageActionItem__icon {
        display: none;
    }
}

#submit_post_box:not(.shown):not(.own_field) .SitpostingEntrypoint {
    display: none
}

.SitpostingEntrypoint {
    margin-top: 3px;
    margin-right: 5px;
}

.BestFriendsSettingsEntrypoint {

    #submit_post_box:not(.shown):not(.own_field) & {
        right: 8px;
        bottom: 9px;
    }

    &__icon {
        background: $lock-icon no-repeat center;
        height: 21px;
        opacity: 0.8;

        svg {
            display: none
        }
    }
}

.PageActionsClosedProfile {
    color: $gray-color-5;

    &__icon {
        background: $lock-icon no-repeat center;
        width: 20px;
        height: 17px;

        svg {
            display: none;
        }
    }

    &__content {
        margin-left: 5px;
    }
}

.PageActionCell {
    margin: 0;
    padding: 4px 6px;
    box-sizing: border-box;
    height: 21px;

    &__icon {
        display: none
    }

    &__label {

        .PageActionCell--accent:hover &,
        .PageActionCell--accent:active & {
            color: $link-color
        }

        color: $link-color
    }

    &__ddIcon {
        background: $arrow-down no-repeat center;

        svg {
            display: none;
        }
    }

    &:hover,
    &:active {
        background-color: $background-hover;
    }
}

.group_section_menu_gallery {
    padding: 0 5px;
}

.docs_module {
    .page_doc_row {
        margin-bottom: 0;
        padding: 5px;
    }
}

// Widgets

.app_widget_donation {
    &_text {
        @extend %header-text-large;

        &:hover {
            text-decoration: underline;
        }
    }

    &_bar {
        border-radius: 0;
        background: #eff1f3;
        margin: 5px 0 5px;
        height: 6px
    }
}

.app_widget_donation,
.app_widget_matches {
    padding: 5px 5px 0;
}

#donation_app_widget,
#matches_app_widget,
#text_app_widget,
#list_app_widget {
    margin-bottom: 10px;
}

.app_widget_text_content {
    padding: 15px 0;
}

.app_widget_text_descr {
    margin: -15px 0 5px;
}

.module_body a.app_widget_matches_match:hover,
.module_body a.app_widget_matches_match:hover + .app_widget_matches_match {
    margin: 0 -5px;
    padding: 0 5px;
}

.app_widget_tiles_tile {
    width: 122px;

    .app_widget_image {
        width: 122px;
        height: 183px;
    }

    & + & {
        margin-left: 10px;
    }
}

#tiles_app_widget .module_body {
    padding: 5px 5px 10px;
}