#group_section_menu .module_body .ui_gallery .ui_gallery_item {
    &:first-child {
        margin-left: 0
    }

    &:last-child {
        margin-right: 0;
    }

    .groups_menu_item {
        .groups_menu_item_title {
            margin-top: 5px;
            width: 94px;
        }

        .groups_menu_item_image {
            height: 71px;
            width: 104px;
        }
    }
}

#group_section_menu .module_body {
    padding: 10px 0 10px
}

.group_friends.followers_hidden {
    &.no_friends {
        padding: 0 6px 10px;
    }

    .group_friends_text .group_friends_count {
        color: #777;
        font-weight: bold
    }
}

.group_friends_image {
    margin-right: 0;
    border-radius: 4px;
}

.friends_dropdown__list_item .friends_dropdown__list_image {
    border-radius: 3px
}

.friends_dropdown__list_content .ui_scroll_content {
    padding: 0
}

.photo_tooltip .photo_tooltip__name {
    padding: 10px
}

.page_photo.page_action_menu_groups .page_actions_item .ui_rmenu_count {
    margin: 0
}

.page_menu_group_notifications .ui_rmenu_count.grey {
    border-radius: 2px;
    transition: background-color 200ms linear, color 200ms linear;
}

.DonutWallInfo {
    background-size: 50px 50px;
    background-position: 20px 20px;
    --group-wall-donut-icon-size: 50px;

    &__title {
        color: $header-color;
        font-weight: bold;
    }

    &__text {
        line-height: inherit;
    }
}

.PageGroupMenu___marketBadgeNew.PageGroupMenu___marketBadgeNew--show {
    margin-top: 0;
    vertical-align: middle;
}

.stories_groups_block_stories_empty .page_module_upload {
    color: $link-color
}

.DonutModule__title {
    font-weight: bold;
    color: $header-color;
    font-size: 1.1em
}

.DonutCatalogPromo {
    padding: 10px 5px;
    margin: 10px 0;
    box-shadow: none;

    &__title {
        @extend %header-text
    }
}

.wall_module .post.Post--with_closed_comments_donut {
    padding-bottom: 0
}

.ProfileActions {
    .page_actions_expanded {
        .page_actions_item {
            color: $link-color;
            margin: 0;

            &:hover,
            &:active {
                background-color: $background-hover !important;
            }

            &:before {
                display: none
            }
        }

        @at-root .page_photo#{&} {
            margin-top: 0
        }
    }

    .PageActionItem__icon {
        display: none;
    }
}

#submit_post_box:not(.shown):not(.own_field) .SitpostingEntrypoint {
    display: none
}

.SitpostingEntrypoint {
    margin-top: 3px;
    margin-right: 5px;
}

.BestFriendsSettingsEntrypoint {

    #submit_post_box:not(.shown):not(.own_field) & {
        right: 8px;
        bottom: 9px;
    }

    &__icon {
        background: $lock-icon no-repeat center;
        height: 21px;
        opacity: 0.8;

        svg {
            display: none
        }
    }
}

.PageActionsClosedProfile {
    color: $gray-color-5;

    &__icon {
        background: $lock-icon no-repeat center;
        width: 20px;
        height: 17px;

        svg {
            display: none;
        }
    }

    &__content {
        margin-left: 5px;
    }
}

.PageActionCell {
    margin: 0;
    padding: 4px 6px;
    box-sizing: border-box;
    height: 21px;

    &__icon {
        display: none
    }

    &__label {

        .PageActionCell--accent:hover &,
        .PageActionCell--accent:active & {
            color: $link-color
        }

        color: $link-color
    }

    &__ddIcon {
        background: $arrow-down no-repeat center;

        svg {
            display: none;
        }
    }

    &:hover,
    &:active {
        background-color: $background-hover;
    }
}

.group_section_menu_gallery {
    padding: 0 5px;
}

.docs_module {
    .page_doc_row {
        margin-bottom: 0;
        padding: 5px;
    }
}

// Widgets

.app_widget_donation {
    &_text {
        @extend %header-text-large;

        &:hover {
            text-decoration: underline;
        }
    }

    &_bar {
        border-radius: 0;
        background: #eff1f3;
        margin: 5px 0 5px;
        height: 6px
    }
}

.app_widget_donation,
.app_widget_matches {
    padding: 5px 5px 0;
}

#donation_app_widget,
#matches_app_widget,
#text_app_widget,
#list_app_widget {
    margin-bottom: 10px;
}

.app_widget_text_content {
    padding: 15px 0;
}

.app_widget_text_descr {
    margin: -15px 0 5px;
}

.module_body a.app_widget_matches_match:hover,
.module_body a.app_widget_matches_match:hover + .app_widget_matches_match {
    margin: 0 -5px;
    padding: 0 5px;
}

.app_widget_tiles_tile {
    width: 122px;

    .app_widget_image {
        width: 122px;
        height: 183px;
    }

    & + & {
        margin-left: 10px;
    }
}

#tiles_app_widget .module_body {
    padding: 5px 5px 10px;
}

// Reactions

.PostBottomAction {
    background: none;
    padding: 5px 6px;
    height: 22px;
    border-radius: 3px;

    &:hover {
        background-color: $button-more-hover-color;
    }

    &:hover &__icon {
        opacity: 0.6
    }

    &:before {
        content: none
    }

    &__count,
    &__label {
        font-size: 10px
    }

    &__icon svg {
        display: none;
    }

    &__icon {
        background: url("data:image/gif;base64,R0lGODlhCwAgAMQfANjh68PN2ufs8aa2yPL1+LjE01V2m5Gku1p6nnicwc7Z5snY5uDn715/o/z8/paxzIqnxsXV5MnW5Yyqyqa60F+ApPDz9mKDp3ebv5+50oOkxZutwqe+1f///3mdwf///yH5BAEAAB8ALAAAAAALACAAAAWGoOR5EABAo/RNYzK+0+e576t9T10/34Lpo8XnwwFyhsNM7YgcFj3M5jASkVqllE6HQKEQOg7eV+twaDuCz3mttXwE7DPgs4lrD59KIF64DBF7ZwUITQYFWgMGVgYHB4RXDQ1Xk5QfClFSCiNWDE8eC0ChoqNBpE6bnS9Dmh5IrEibrlFFViEAOw==") no-repeat 0 1px;
        width: 11px;
        height: 11px;
        opacity: 0.4;
        transition: opacity 100ms ease-in-out;
    }

    &__count {
        font-weight: bold;
        margin-left: 1px;
        color: #7295b2;
    }

    .PostBottomAction.share .PostBottomAction__icon {
        background-position: 0 -21px;
    }


    &.comment &__icon {
        background: url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2214%22%20height%3D%2214%22%20viewBox%3D%225%206%2014%2014%22%20style%3D%22fill%3A%23799dc1%3B%22%3E%3Cpath%20d%3D%22M5%207C5%206.4%205.4%206%206%206L18%206C18.5%206%2019%206.5%2019%207L19%2015C19%2015.6%2018.6%2016%2018%2016L6%2016C5.5%2016%205%2015.5%205%2015L5%207ZM9%2016L9%2020%2014%2016%209%2016Z%22%2F%3E%3C%2Fsvg%3E) no-repeat 0 2px / contain;
        height: 12px;
    }

}

.like_cont.PostBottomActionLikeBtns {
    justify-content: flex-end;
}

.PostButtonReactions {
    &__icon {
        width: 10px;
        height: 10px
    }

    &--post {
        .PostBottomAction__icon {
            order: 1
        }

        .PostBottomAction__label {
            margin: 0 2px 0 0
        }

        .PostBottomAction__count {
            order: 1;
            margin-left: 3px;
        }

        &:hover .PostButtonReactions__title {
            color: #2f5879;
        }

        .PostButtonReactions__title,
        &.PostButtonReactions--active .PostButtonReactions__title {
            top: 0;
            color: #829baf;
            transition: color 100ms ease-in-out;
        }
    }

    &--active .PostBottomAction__icon {
        opacity: 1 !important
    }

}

.PostButtonReactionsContainer {
    order: 1
}

.ReactionsMenuPopper,
.PostActionStatusBar {
    display: none
}

.PostHeaderActionsUiActionMenuIconContainer {
    top: 0;
    right: 0
}

.PostBottomActionLikeBtns .like_btns > .PostBottomAction:not(:first-child),
.PostBottomActionLikeBtns .like_btns > .PostBottomActionContainer:not(:first-child) {
    margin-left: 0;
}