.media_preview_has_medias.wall_post_media_preview {
    padding: 10px
}

.wide_column .medadd_poll_background:last-child {
    margin-right: 0
}

.wide_column .medadd_poll_background:first-child {
    margin-left: 0
}

.wide_column .medadd_poll_backgrounds_wrap {
    margin: 8px 0 0
}

.medadd_poll_answer_wrap .page_media_x_wrap.medadd_poll_answer_remove {
    margin: 5px
}

.media_voting {
    box-shadow: none
}

.media_voting_question {
    font-size: 11px !important;
    color: #45688e;
    line-height: 140% !important;
    padding: 4px 0 2px;
}

.media_voting_header {
    padding: 0;
    text-align: left;
    height: auto;
    border-bottom: 1px #e7eaed solid;
    flex-direction: row;
    justify-content: space-between
}

.post_media_voting {
    margin: 5px 0
}

.media_voting_author {
    display: none
}

.media_voting_info {
    white-space: nowrap;
    padding-top: 4px;
    line-height: 140%;
    margin-left: 4px
}

.media_voting_options {
    padding: 2px 0 0;
}

.media_voting_option,
.media_voting_can_vote.media_voting_clickable_option .media_voting_option_wrap:not(.media_voting_option_selected):hover .media_voting_option,
.media_voting_option_wrap.media_voting_option_selected .media_voting_option,
.media_voting_can_vote.media_voting_clickable_option .media_voting_option_wrap.media_voting_option_selected:hover .media_voting_option,
.media_voting_bg_gradient .media_voting_option,
.media_voting_bg_photo .media_voting_option,
.media_voting_bg_tile .media_voting_option {
    background: none
}

.media_voting_option {
    min-height: auto;
    margin-right: 80px;
    display: block;
    overflow: visible
}

.media_voting:not(.media_voting_can_vote) .media_voting_option {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAPCAYAAAAlH6X5AAAACXBIWXMAAA7EAAAOxAGVKw4bAAAAEElEQVR42mP4/v37fwaqEACMiTpdxlN+LAAAAABJRU5ErkJggg==') repeat no-repeat bottom left
}

.media_voting_bg_gradient:not(.media_voting_can_vote) .media_voting_option,
.media_voting_bg_photo:not(.media_voting_can_vote) .media_voting_option {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAPCAYAAAAlH6X5AAAACXBIWXMAAA7EAAAOxAGVKw4bAAAAEElEQVR42mP4//+/PANVCADpWy6lX7qcLAAAAABJRU5ErkJggg==') repeat no-repeat bottom left
}

.media_voting_can_vote:not(.media_voting_multiple) .media_voting_option:before {
    content: "";
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAA4CAYAAADNa8lhAAAACXBIWXMAAAsTAAALEwEAmpwYAAABNElEQVR42uWUvwrCMBDG+6Y+jK/hFhxFcdDBpUVQ1ELBv+DQKiiIiyDupxeScg1JkyaTGvggJPfLXdL7GgFApCpe7thHqRDTxWiBx/MFcuBcd0AFKi53MA3co7ATpIMlmILjELERz0bvZBvizqxRNpo1CPQr1ftxgj6HdwMEtVxQk/+TOw6nG/STNRfOndyBga12tyIKG92BWVQQ16zuMIHF9V7vDl2p801egrXuoI9DIWd3IEChX3JHbxSzj1IhOyiBbJ/D8XzjwrnugAo0XW1LQBXuUdgJ0sESTG2QFMZyEE+gd7JJ3Jk1ykazBoF+pXo/TtDn8G6AoJYLavJ/csdkcYDOcMaFcyd3YKD6Q6aw0R2YRQVxzeoOEziOV/Xu0JU6SLISrHUHfRwKObsDAQp9qTvetclI85ax3mcAAAAASUVORK5CYII=') 0 0 no-repeat;
    width: 15px;
    height: 14px;
    display: block;
    float: left;
    margin-right: 5px
}

.media_voting_option_wrap:hover .media_voting_option:before {
    background-position: 0 -28px
}

.media_voting_option_wrap:active .media_voting_option:before {
    background-position: 0 -42px
}

.media_voting_option_text {
    padding: 0 2px 2px
}

.media_voting_option_wrap + .media_voting_option_wrap {
    margin-top: 0
}

.media_voting_option_wrap {
    padding: 10px 0 0;
    margin: 0
}

.media_voting_footer {
    z-index: auto;
    text-align: left;
    margin: 0;
    padding: 10px 0
}

.media_voting_option_count {
    color: #8ba1bc;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    text-align: center
}

.media_voting_option_bar {
    height: 15px;
    background: #dae1e8;
    position: static;
    margin-top: 0;
}

.media_voting_option_percent {
    margin-right: -80px;
    padding: 0;
    position: static;
    float: right
}

.media_voting_separator {
    visibility: hidden;
}

.media_voting_separator:before,
.media_voting_separator:after {
    content: none
}

.media_voting .ui_actions_menu_icons {
    background: none;
    width: auto;
    right: 0;
    top: 22px
}

.media_voting_bg_gradient .ui_actions_menu_icons:before,
.media_voting_bg_photo .ui_actions_menu_icons:before,
.media_voting_bg_tile .ui_actions_menu_icons:before {
    color: #FFF;
    left: 0;
    background: none;
    top: 0;
    width: auto;
}

.media_voting .ui_actions_menu_icons:before {
    content: "\2026"
}

.media_voting_footer_voted_friend {
    display: none
}

.media_voting_footer_voted_friend + span {
    margin-left: 0
}

.media_voting_multiple .media_voting_option_text:after {
    content: none
}

.media_voting_multiple.media_voting_can_vote .media_voting_option_text:before {
    content: "";
    background: url('data:image/gif;base64,R0lGODlhDwA4AKIHANrh6P///8DK1a22wF+DpbfAy9/l6v///yH5BAEAAAcALAAAAAAPADgAAAOzKLrMJyHKGcWjOFiY5+7eBVbi+I1aCZ6m2rGrm21NrTx2LWMEwYE93yho+PF6gmKHyCJIiEVRMABNcQzBnsFAumK13K5kS9iGjNuwBPbC5RyDuHw+PwwA+LweP7Dv/wB9d4B6goSFfod8iYqGioGMh46NkYSTkpWAgnSccXadnJl/PYOHQaWAQQWoe6qrhK6MBHmujkEArpCDBVkEBQWLu7w9v3mTv77AxpG/ysusmp+gdQkAOw==') no-repeat;
    width: 15px;
    height: 14px;
    display: block;
    float: left;
    margin-right: 5px
}

.media_voting_multiple.media_voting_can_vote.media_voting_bg_gradient .media_voting_option_text:before,
.media_voting_multiple.media_voting_can_vote.media_voting_bg_photo .media_voting_option_text:before,
.media_voting_multiple.media_voting_can_vote.media_voting_bg_tile .media_voting_option_text:before {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAcCAYAAAC+lOV/AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAcUlEQVR42u3TAQqAMAgAQP/XY/qDz/Md/qNmNBBRmwVRMEEYzHMwFIhou5MtAM5DKSae+C/40WK8ulWIeGQZd1jGGjLzOow1FNPwMoTNi/GHSUEGQ6wLIxhOmFxq4MEU2wYWprOtG3jwcjE68uA3tmoHY7b62YZNuOwAAAAASUVORK5CYII=') no-repeat;
    opacity: 0.8
}

.media_voting_option_wrap.media_voting_option_selected .media_voting_option_text:before {
    background-position: 0 -14px !important
}

.media_voting_option_wrap:hover .media_voting_option_text:before {
    background-position: 0 -28px !important
}

.media_voting_bg_gradient .media_voting_option_wrap:hover .media_voting_option_text:before,
.media_voting_bg_photo .media_voting_option_wrap:hover .media_voting_option_text:before,
.media_voting_bg_tile .media_voting_option_wrap:hover .media_voting_option_text:before {
    background-position: 0 0 !important;
    opacity: 1
}

.media_voting_option_wrap:hover.media_voting_option_selected .media_voting_option_text:before {
    background-position: 0 -42px !important
}

.media_voting_bg_gradient .media_voting_option_wrap:hover.media_voting_option_selected .media_voting_option_text:before,
.media_voting_bg_photo .media_voting_option_wrap:hover.media_voting_option_selected .media_voting_option_text:before,
.media_voting_bg_tile .media_voting_option_wrap:hover.media_voting_option_selected .media_voting_option_text:before {
    opacity: 1;
    background-position: 0 -14px !important
}

.media_voting_bg_gradient .media_voting_header {
    border-bottom: 1px hsla(0, 0%, 100%, .84) solid
}

.media_voting_bg_gradient.media_voting,
.media_voting_bg_photo.media_voting,
.media_voting_bg_tile.media_voting {
    padding: 8px
}

.media_voting_bg_gradient .media_voting_option_wrap .media_voting_option_bar,
.media_voting_bg_photo .media_voting_option_wrap .media_voting_option_bar,
.media_voting_bg_tile .media_voting_option_wrap .media_voting_option_bar {
    background: hsla(0, 0%, 100%, .28);
}

.media_voting_bg_gradient .media_voting_option_wrap.media_voting_option_leader .media_voting_option_bar,
.media_voting_bg_photo .media_voting_option_wrap.media_voting_option_leader .media_voting_option_bar,
.media_voting_bg_tile .media_voting_option_wrap.media_voting_option_leader .media_voting_option_bar {
    background: hsla(0, 0%, 100%, .42);
}

.media_voting_bg_gradient .media_voting_option_count,
.media_voting_bg_photo .media_voting_option_count,
.media_voting_bg_tile .media_voting_option_count {
    color: #FFF
}

svg + .wk_voting_avatar + .wk_voting_avatar,
svg + .wk_voting_avatar + .wk_voting_avatar + .wk_voting_avatar,
svg + .wk_voting_avatar + .wk_voting_avatar + .wk_voting_avatar + .wk_voting_avatar,
svg + .wk_voting_avatar + .wk_voting_avatar + .wk_voting_avatar + .wk_voting_avatar + .wk_voting_avatar {
    -webkit-clip-path: none;
    clip-path: none;
    margin-left: 2px
}

.wk_voting_box_graphed .wk_voting_tabs,
.wk_voting_box_tabbed .wk_voting_tabs {
    border: none;
    margin: -20px -25px 0;
    background-color: #F2F2F2;
    border-bottom: 1px solid #DAE1E8;
    font-weight: bold
}

.wk_voting_option_wrap {
    padding: 10px 20px;
}

.wk_voting_option_bar_inner {
    background: #6287ae;
    height: 15px;
}

.wk_voting_option_bar {
    background: #f2f2f2;
    height: 15px;
    margin: 5px 0 8px;
}

.wl_post .media_voting .ui_actions_menu_icons {
    top: 0
}