.fakeinput,
div[contenteditable=true]:not(.article_editor_canvas),
input.big_text,
input.file,
input.search,
input.text,
input.dark,
input[type=button],
input[type=password],
input[type=search],
input[type=submit],
input[type=text],
input[type~=email],
input[type~=password],
input[type~=search],
input[type~=text],
textarea,
button,
.im-page .im-page--members,
.im-page .im-page--peer-online,
.im-member-item .im-member-iterm--status,
.im-member-item .im-member-item--invite,
.im-page-btn,
.im_cal_clear_lnk,
.mob_onl,
.notifier_baloon,
.nim-dialog .nim-dialog--name,
.nim-dialog .nim-dialog--preview,
.nim-dialog .nim-dialog--text-preview,
.nim-dialog.nim-dialog_classic .nim-dialog--name,
.nim-dialog.nim-dialog_classic .nim-dialog--preview,
.nim-dialog.nim-dialog_classic .nim-dialog--text-preview,
.ui_toggler_wrap,
.page_media_poll .page_poll_row_percent,
h5.copy_post_author,
h5.post_author,
.tt,
.im-mess.im-mess_srv .im-mess--text,
.im-topic,
.im-topic_dialog,
.im-settings,
.ui_crumb_count,
.page_block_header,
.ui_tab_count,
.friends_field_title,
.ui_search_fltr_control,
.ui_search_fltr,
.video_info_bottom,
.video_thumb_duration,
.fave_notes_checkbox,
.fave_market_name,
.fave_market_price,
.feedback_content,
.feedback_footer,
.top_notify_header,
.top_notify_cont,
.friends_lists .friends_lists_group,
.friends_cur_filters .token,
.bd_day_num,
.bd_header_month,
.bd_header_info,
.friends_phonebook .friends_user_info,
.page_block_header_count,
.friends_find_user_info,
.wide .post_date,
.wide .post_full_like_wrap,
.wide .wall_module .reply_footer,
.big_wall .post_date,
.big_wall .post_full_like_wrap,
.big_wall .wall_module .reply_footer,
.search_results .post_date,
.search_results .post_full_like_wrap,
.search_results.wall_module .reply_footer,
#main_feed .post_date,
.wall_comments_summary,
.pg_in,
.ui_ownblock_info,
.page_block.page_block_header_outer .pg_in,
.page_market_item_title,
.page_market_price,
#pv_narrow,
.pv_cont .pv_closed_commments_placeholder,
.pv_cont .pv_no_commments_placeholder,
.pv_cont .pv_reply_form_wrap,
.photos_albums,
.photos_container_albums .photos_album_title,
.photos_container .photos_period_delimiter,
.bp_bottom,
.feed_friend_name,
.audio_page_player2 .audio_page_player_track_info_wrap,
#audio_status_tt .audio_status_wrap,
#audio_status_tt .audio_share_link,
.audio_page_layout2 .audio_friend,
.audio_catalog_performers .audio_catalog_performer_name,
.audio_add_restrictions,
.audio_row .audio_author .mem_link,
.audio_author,
.audio_feed_post .audio_feed_text,
.page_block_saved,
.summary_tab,
.summary_tab_plain,
.summary_tab_sel,
.settings_row_hint,
.settings_panel .msg,
.box_msg,
.settings_otp_box_pad,
.settings_activity_history,
.settings_bl_list,
.settings_blb_info,
.group_l_info,
.flist_item_name,
.group_blb_user_info,
.group_edit_hint,
.big .result_list ul li span,
.invite_box_text,
.friends_search_filters,
.friends_search_import,
.ui_header_ext_search,
.groups_create_about,
.olist_filter_label,
.group_closed,
.page_doc_row,
.search_status_hint_tt.tt_w,
.page_media_place_label_inline,
.video_item_info,
.im-fwd .im-fwd--date,
.docs_item_cont,
.docs_add_restrictions,
.left_menu_nav_wrap,
.nim-dialog .nim-dialog--markre,
.nim-dialog .nim-dialog--daction,
.photos_container_albums .photos_album_counter,
.photos_period_delimiter_fixed,
.photos_comments_link,
.photos_container_edit_grid .photos_photo_edit_row_desc_placeholder,
.photos_container_edit_grid .photos_photo_edit_row_desc_input,
.photos_album_intro .photos_album_intro_info,
.audio_rows h3,
.post_reply_tt_choose h3,
.public_help_block,
.pv_comments_list .dld,
.pv_cont .pv_comments_header,
.im-page--chat-header,
#layer_stl_text,
.page_block_sub_header,
.page_block_sub_header_count,
.audio_row .audio_lyrics,
.wddi_data,
.group_box_desc,
.group_box_extra,
#pv_tag_info,
.page_preview_doc_photo_hint,
.doc_size,
.page_group_info,
.videocat_channel_header .videocat_channel_groupsize,
.wl_post_reply_form_forbidden,
.feed_new_posts > b,
.mv_comments_summary,
.stories_feed_item_name,
.video_subtitle,
.video_playlist_item .video_playlist_item_counter_text,
.video_playlist_item .video_playlist_item_counter_num,
.fave_module .post_full_like_wrap,
#main_feed .post_full_like_wrap,
.wl_post .post_full_like_wrap,
.video_upload_tc_wrap .video_tc_upload_btn,
#mv_comments_header,
.mv_more,
.mv_more.idd_wrap,
.mv_info_date,
.mv_recom_block_title,
.mv_recom_item,
.mv_playlist .mv_playlist_item,
#page_body,
.wall_module .reply_author,
.wall_signed,
.wall_module .like_count,
.videoplayer_controls,
.videoplayer_context_menu ._item,
.tt_w,
.profile_deleted_text,
.video_upload_rules_info,
.button_blue button,
.button_gray button,
.button_light_gray button,
.flat_button,
.media_voting_footer_button,
#mv_box._has_chat .mv_recom_item,
#mv_box._has_preparation .mv_recom_item,
.ads_ad_domain.apps_only,
.app_cat_link,
.apps_cat_users,
.apps_access_item_info,
.apps_i_policy,
.apps_i_group .apps_i_group_info,
.apps_i_users, .apps_ss_playing,
.apps_notification_row,
#payments_box .payments_about_votes,
.payments_about_votes,
.payments_getvotes_amounts .radiobtn .payments_opt_amount,
#video_title_albums,
.apps_edit_actions,
div.fc_clist_filter,
#fc_clist_filter,
#fc_clist_filter ~ .placeholder .ph_input,
.apps_feed_info,
.audio_page__playlists_count_header,
.audio_row .audio_info,
.video_playlist_item,
.video_playlist_item .video_playlist_item_thumb_wrap,
.video_playlist_item .video_playlist_item_thumb,
.mention_tt_title,
.quick_login .label,
.big_text.selector_container td.selector input,
.big_text .result_list ul li,
.prefix_big_text .prefix_input,
.join_other_phone,
.join_no_code,
.join_no_code a,
.fans_idol_row,
.search_row.short .labeled,
.ui_rmenu_count.ui_rmenu_count_grey,
.group_u_level,
.gedit_admbox_desc_other,
#marketplace .market_content .market_row .market_row_info,
#marketplace .market_content .market_row .market_row_name,
#marketplace .market_content .market_row .market_row_price,
#marketplace .market_content .market_row_line .market_row_info,
#marketplace .market_content .market_row_line .market_row_price,
#marketplace .market_content .market_row_line .market_row_usrtm .market_row_time,
#marketplace .market_content .market_row_line .market_row_usrtm .market_row_user,
#marketplace .market_content .market_row_line .market_row_address,
#marketplace .market_content .market_row_line .market_row_user .group_link,
#marketplace .market_content .market_row_line .market_row_user .mem_link,
.market_item_owner_info,
.market_item_description,
.market_comments_summary,
.market_ei_photo_add_label,
.audio_page__shuffle_all .audio_page__shuffle_all_button,
.video_thumb_label,
.group_friends,
.article_layer .article_layer__header .article_layer__additional_buttons,
.audio_page_layout2 .audio_community_item .audio_community_item__info,
.article_layer .article_layer__header .article_layer__header_date_published,
.article_layer .article_layer__back,
.fave_article_item_title,
.article_ed_layer .article_ed_layer__header .article_ed_layer__top_labels,
.article_ed_layer .article_ed_layer__publish_settings,
.article_ed_layer .article_ed_layer__list_item .article_ed_layer__list_item_updated,
.ads_label,
.stats_title_link,
#stat_group_postsreach_table td,
#stats_cont h4,
.stats_head,
.piechart_table,
.stats_community_messages_info_caption,
.stats_community_messages_info_title,
.market_row_name,
.market_row_price,
.market_row_new_badge,
.market_album_section .page_block_sub_header,
.market_album_legend,
.post_author_data,
.im-popular--name,
.im-page .im-search-results-head,
.payments_money_transfer_buttons,
.faq_search_form .ui_search_field,
.help_table_question_act,
.tu_row_comment,
.tu_date,
.tu_mem,
.tickets_reply_row,
.tickets_header_info,
.tickets_reply_title,
.tickets_reply_actions,
.blog_entry_text,
.blog_entry_text_wrap .wk_text,
.blog_entry_author_name,
.blog_entry_author_info,
.blog_entry_date,
.im-aside-notice,
.stories_author_name,
.stories_date,
.blog_follow_msg,
.blog_followed_state,
.blog_email_settings_label,
.blog_email_settings_labeled,
.blog_arhive_year,
.blog_arhive_date,
.blog_arhive_author,
.blog_cat_name,
.im-page .nim-conversation-search-row .nim-dialog--name,
.im-invite-box .im-invite-box--reset,
.im-page-pinned--name,
.im-page-pinned--date,
.stories_answers_count,
.zoom_text_active .shown div.submit_post_field[contenteditable=true] ~ .placeholder .ph_input,
.zoom_text_active .shown div.submit_post_field ~ .placeholder .ph_input,
.zoom_text_active.wall_module.wl_post .wl_post_body_wrap .zoom_text,
.zoom_text_active .wall_text #wpe_text.zoom_text,
.zoom_text_active .wall_text .zoom_text,
.zoom_text_active div.submit_post_field.zoom_text,
.zoom_text_active div.submit_post_field.zoom_text[contenteditable=true],
.like_wrap .ui_actions_menu_more,
.wl_post .like_views,
.wl_post .like_button_count,
.wl_post .like_button_label,
.wl_post .like_wrap.lite .like_button_count,
.wl_post .like_wrap.lite .like_button_label,
.page_photo.page_action_menu_groups,
.page_actions_closed_profile,
.audio_page_layout .audio_block_small_item .audio_block_small_item__info,
.profile_closed_wall_dummy,
.profile_closed_wall_dummy .profile_closed_wall_dummy_title,
.page_photo.page_action_menu_groups .page_actions_item.group_send_msg_status_block .group_send_msg_status_block_status,
.media_voting_question,
.media_voting_info,
.media_voting_option_text,
.media_voting_option_percent,
.media_voting_footer,
.deep_active .post_replies_header,
.deep_active.wall_module .post_replies_header,
.Post__copyright,
.medadd_poll_question_warning,
.wk_voting_option,
.wk_voting_option_count,
.audio_subscribe_promo__text,
.audio_subscribe_promo__title,
.friends_dropdown__list_item .friends_dropdown__list_label,
.friends_dropdown__list_item .friends_dropdown__list_name,
.friends_dropdown__list_input,
.photo_tooltip .photo_tooltip__name,
.bookmarks_empty_feed .bookmarks_empty_feed__text,
.podcast_snippet__time,
.podcast_snippet__info,
.podcast_snippet__name,
.bookmark_tag,
.bookmark_page_item.bookmark_page_item_small .bookmark_page_item__name,
.bookmark_page_item.bookmark_page_item_small .bookmark_page_item__name > a,
.audio_pl_snippet2 .audio_shuffle_all_button,
.wall_module .wr_header,
._audio_pl.audio_pl_top_audios .audio_row .audio_row__inner:before,
.audio_pl_snippet2 .audio_pl_snippet__action_btn,
.audio_pl_snippet2 .audio_pl_snippet__actions,
.audio_pl_snippet2 .audio_pl_snippet__action_btn_more .ui_actions_menu,
.AudioPlaylistSnippet__info,
.AudioPlaylistSnippet__actionButton,
.ActionsMenu__item,
.podcast_episode_layer__actions .button_action_light,
.button_action_light,
.audio_page_layout .audio_page__audio_rows > h2,
.feed_filters_show_types_btn,
.im-replied,
.im-replied--text,
.im-replied--author-link,
.audio_row__more_actions .audio_row__more_action,
.ProfileEditorVkconnect__notice,
.as_button,
.top_profile_vkconnect_descr,
.top_profile_vkconnect_name,
.thumbed_link__title,
.thumbed_link__subtitle,
.article_snippet.article_snippet_mini .article_snippet_mini_info,
.article_snippet.article_snippet_mini .article_snippet_mini_title,
.settings_separated_row .settings_separated_row_hint,
.bookmarks_privacy,
.audio_friend_name,
.audio_friend_name_now,
.link,
.mail_link,
.DonutWallInfo__title,
.DonutWallInfo__text,
.CallSnippet__desc,
.CallWidget,
.CallWidget__status,
.apps_feedRightAppsBlock__row,
.apps_feedRightAppsBlock__desc,
.ShortVideoStub__title,
.ShortVideoStub__text,
.ShortVideoTagList__title,
.ShortVideoTagListItem__title,
.ShortVideoTagListItem__infoText,
.ListItem,
.ChatSettings__pane,
.List,
.ListAddControl,
.Link,
.LinkButton,
.Tabs,
.Entity,
.ChatSettingsMembersEdit__role,
.Select,
.ChatSettingsInfo,
.EditableLabel,
.Tooltip,
.BlinkText,
.Button,
.Dropdown__in,
.Input,
.InputStub,
.MultiSelect,
.PopupHeader,
.Select__input,
.StatsTable,
.Stub,
.Textarea,
.TooltipNew,
.ChatSettingsInvitationLink,
.Switch,
.ads_ad_snippet_description,
.ads_ad_snippet_description_title,
.ads_ad_title_box.adaptive_ad,
.ads_ad_explain,
.audio_restriction_box__content,
.audio_restriction_box__title,
.VideoPlaylistItem__counter,
.DonutModule__info,
.DonutModule__desc,
.DonutModule__title,
.ReplyBoxDonut,
.VideoLayerInfo__views,
.VerticalVideoLayerInfo__views,
.GamesCatalogNav__headerLink,
.GamesCatalogNav__balanceLink,
.blst_row,
.stories_groups_block_stories_wrap .stories_groups_block_stories_info,
.GamesCatalogCard__appLink,
.GamesCatalogCard__subtext,
.GamesCatalogGameInfoTooltip__rowLabel,
.GamesCatalogGameInfoTooltip__rowContent,
.GamesCatalogGameInfoTooltip__description,
.GamesCatalogGameInfoTooltip__participantsCount,
.GamesCatalogMainContent .app_type_label,
.DownloadedGameItem__description,
.ProfileActions .page_actions_expanded,
.media_link__subtitle,
.narrow_redesign .stories_groups_block_stories_empty .page_module_upload,
.AppsCatalogHeader__tab,
.AppsCatalogSelectMenu__option,
.PageBlock__headerTitle,
.AppsCatalogCardWithTooltip,
.AppsCatalogCard__name,
.AppsCatalogCard__category,
.Tooltip__in,
h2 {
    font-size: inherit;
    font-family: inherit;
}

.AppsCatalogSkeleton__sectionName,
.AppsCatalogSkeleton__slide,
.AppsCatalogSkeleton__menu,
.AppsCatalogFeaturedBanner__appIcon,
.AppsCatalogCardWithTooltip__screenshot,
.AppsCatalogCardWithTooltip__screenshotWrapper::after,
.Input,
.AppsCatalogSearchInput__input,
.AppsCatalogSkeleton__cardIcon,
.AppsCatalogSkeleton__cardName,
.AppsCatalogSkeleton__cardCategory,
.PageBlock,
.AppsCatalogCard__image,
.AppsCatalogCard__imageWrapper:after,
.MiniAppLayerFlex #apps_layer .apps_main,
.MiniAppLayerFlex #apps_layer .apps_main .app_container iframe,
.AppsCatalogFeaturedBanner__slide,
.AppsCatalogFeaturedBanner__image,
.AppsCatalogFeaturedBanner__slide:after,
.AppsCatalogFeaturedBanner__footer:after,
.AppsCatalogFeaturedBanner__prev:before,
.AppsCatalogFeaturedBanner__next:before,
.PageBlock__header,
.AppsCatalogSelectMenu,
.AppsCatalogHeader,
.ImageStatusPopup__participantAvatar,
.GamesCatalog--downloaded_games .DownloadedGameItem__imageWrap:after,
.DownloadedGameItem__imageWrap:after,
.DownloadedGameItem__imageWrap,
.DownloadedGameItem__image,
.GamesCatalog--downloaded_games .DownloadedGameItem__image,
.GamesCatalog--downloaded_games .ui_tabs_header,
.GamesCatalogMainContent .apps_wide_img,
.GamesCatalogMainContent .app_cat_image:after,
.apps_wide_img,
.app_cat_image,
.GamesCatalogGameInfoTooltip__image,
.GamesCatalogGameInfoTooltipWrapper.tt_w,
.GamesCatalogGameOfWeek__img,
.GamesCatalogCard__imageWrap,
.GamesCatalogCard__imageWrap:after,
.GamesCatalogCard__image,
.GamesCatalogCollectionCard__image,
.GamesCatalogCollectionCard__imageWrap,
.GamesCatalogCollectionCard__imageWrap:after,
.GamesCatalogFullWidthBanner,
.apps_options_bar.apps_options_bar_bottom,
.apps_options_bar,
#pv_albums_wrap,
#pv_album_wrap,
.apps_featured_thumb__wrap,
.GamesCatalogHeadContent .apps_featured_thumb__wrap,
.GamesCatalogHeadContent .apps_featured_slider .videoplayer,
.GamesCatalogHeadContent .apps_featured_thumb_gradient,
.video_playlist_item,
.VideoLayerInfo__authorPhotoWrap,
.VerticalVideoLayerInfo__authorPhotoWrap,
.VideoLayerInfo__authorPhoto,
.VerticalVideoLayerInfo__authorPhoto,
.ReplyBoxDonut,
.VideoPlaylistItem__thumbWrap,
.VideoPlaylistItem__thumb,
.video_item .video_item_thumb_wrap,
.page_block._audio_page_content_block,
.DonutCatalogPromo,
.wall_module .page_friend_reply_ava,
.ads_ad_snippet,
.adaptive_ad .ads_ad_photo_icon,
.im-invitation--user-more,
.im-invitation--user-photo,
.pretty-card,
.pretty-card__photo-border,
.pretty-card__content,
.ChatSettings,
.ChatSettings__content,
.PopupHeader,
.Entity__photo,
.login_user_img,
.apps_feedRightAppsBlockFriendsList__img,
.ShortVideoPost__preview .video_box_wrap,
.ShortVideoPost__preview .videoplayer,
.ShortVideoPost__preview .page_post_thumb_wrap,
.ShortVideoPost,
.ShortVideoPost__avatarImage,
.ShortVideoTagListItem__photo,
.ShortVideoTagListItem__photo:after,
.fakeinput.dark,
textarea.dark,
.page_avatar,
.page_avatar_img,
.post_img,
.feedback_img,
.feedback_row_answer .feedback_img,
.search_item_img,
.olist_item_photo,
.im-chat-placeholder,
.fave_link_thumb,
.page_post_video_play_inline,
.im-member-item .im-member-item--photo img,
.im-member-item .im-member-item--photo,
.nim-peer .nim-peer--photo .im_grid > img,
.nim-peer .nim-peer--photo > img,
.nim-peer .nim-peer--photo-w,
.nim-dialog.nim-dialog_classic .nim-dialog--photo .nim-peer .nim-peer--photo .im_grid > img,
.nim-dialog.nim-dialog_classic .nim-dialog--photo .nim-peer .nim-peer--photo > img,
.im-page--dialogs .nim-dialog.nim-dialog_classic .nim-peer--photo,
.bd_cell_img,
.bd_user_cells_2 .bd_cell_img,
.bd_user_cells_3 .bd_cell_img,
.bd_user_cells_4 .bd_cell_img,
.friends_common_img,
.friends_phonebook .friends_photo_img,
.flist_item_thumb,
.flist_sel_list .flist_item_thumb,
.flist_sel_show_all,
.ui_ownblock_img,
.ow_ava.ow_ava_comm,
.bp_img,
.feed_friend_photo_wrap .ui_zoom_inner,
.feed_friend_image,
.mention_tt_img,
.audio_page_player2 .audio_page_player_play .icon,
.ow_ava.ow_ava_mid,
.feedback_group_photo_img,
.feedback_sticky_icon,
.group_friends_image,
img.settings_bl_photo,
.settings_blb_photo_img,
.group_l_photo,
.group_l_photo_img,
.group_blb_user_thumb,
.friends_import_icon,
.friends_import_box_icon,
.invite_box_title_icon,
.search_row .ui_zoom_inner,
.group_u_photo_img,
.group_u_bigph_wrap .ui_zoom_inner,
.group_u_photo,
.mention_tt_person_img,
.mail_box_single_ava .mail_box_single_ava_img,
.pv_cont .pv_author_block,
.pv_cont .pv_box,
.pv_cont .narrow_column,
.pv_cont .pv_comments_header,
.pv_cont .pv_image_wrap,
#pv_more_acts_tt,
.mv_author_photo,
.mv_author_photo:after,
.search_row.short .search_item_img,
.profile_career_img,
.story_view_photo,
.story_view_video,
.story_view_row_cont,
.like_share_ava.wdd_imgs,
.wddi_img,
.group_box_image_wrap,
.group_box_image_link,
.blst_img,
.page_group_image,
.page_friend_reply_ava,
.feed_new_posts > b,
.stories_feed_item_ava,
.stories_feed_item_ava_img,
.idd_popup,
.video_item,
.video_item .video_item_thumb,
.video_upload_progress,
.videoplayer_end_info_author_photo,
.mv_chat_reply_author_photo,
.mv_chat_message_author_thumb_img,
.mv_recom_item_thumb,
.mv_recom_item_duration,
.apps_access_icon,
.apps_i_group .apps_i_group_photo img,
.payments_box_votes .payments_summary_phumb,
.audio_page_player2 .audio_page_player__cover,
.audio_row,
.audio_row .audio_row_inner,
.audio_row:hover:not(.audio_row__current) .audio_row_content,
.audio_row.ui_gridsorter_moveable,
.audio_page_layout2 .ui_tabs_header .ui_tab,
.audio_page_layout2 .ui_tabs_header .ui_tab.ui_tab_sel,
.audio_page_layout2 .audio_friends_more_wrap .audio_more_friends_btn,
.audio_page__shuffle_all .audio_page__shuffle_all_button:hover,
.audio_pl_item .audio_pl__actions_wrap,
.audio_pl_item .audio_pl__cover,
.ap_layer_wrap .ap_layer__content,
.audio_page_layout2 .audio_owner_item .audio_owner_item__img,
#audio_layer_tt .ui_tabs .ui_tab,
#audio_layer_tt .ui_tabs .ui_tab.ui_tab_sel,
.ads_ad_box.redesign .ads_ad_photo_box,
.friends_photo_img,
.big_text.selector_container table.selector_table,
.big_text.selector_container.selector_focused.reverse table.selector_table,
.prefix_big_text .prefix_input_border,
.post_from_tt_image,
.eltt,
.eltt.eltt_fancy,
.audio_row.audio_row__current .audio_row_content,
.fans_fan_img,
.ui_zoom_inner,
#gtop_money_transfer .gtop_image,
.gedit_admbox_thumb,
.gedit_hostbox_thumb,
.market_item_owner_img,
.market_edit_item_box_new .market_ei_main_photo,
.market_edit_item_box_new .market_ei_photo_add,
.article_layer .article_layer__header .article_layer__header_owner_img,
.video_module .video,
.audio_w_covers .audio_row .audio_row__cover,
.audio_w_covers .audio_row .audio_row__cover_back,
.audio_page_layout2 .audio_community_item .audio_community_item__img,
.settings_separated_row .settings_separated_row_icon,
.settings_separated_row.settings_separated_row_iconed:before,
.ui_toggler,
.ui_toggler:after,
.article_ed_layer .article_ed_layer__author_img,
.big.selector_container table.selector_table,
input.dark,
.page_actions_wrap,
#marketplace .market_content .market_row .market_edit_actions,
.big.selector_container.selector_focused table.selector_table,
.flat_button.ui_load_more_btn,
.page_market_item_narrow_img,
.page_media_link_desc_td,
.im-page_classic .im-popular--avatar,
.notify_tt_img,
.notify_tt_thumb,
.owner_photo_preview50,
.owner_photo_preview100,
.owner_photo_crop_wrap .tag_frame_inner,
.owner_photo_additional,
.box_no_buttons,
#payments_box.payments_money_transfer_box .payments_transfer_to_photo,
.box_no_title.box_no_buttons,
.payments_money_transfer_amount_wrap,
.payments_money_transfer_comment,
.box_controls,
.faq_search_form,
.help_tile__title:after,
.help_table_categories .ui_rmenu_item,
.tu_thumb,
.tickets_image__i,
.blst_last,
.blog_entry_author_ava,
.im-page.im-page_classic.im-page_group .im-group-online .im-group-online--inner,
.im-aside-notice,
.apps_i_groups .apps_i_groups_images .apps_i_groups_image_a,
.stories_author,
.stories_hide_animation_el,
.stories_item_cont_wrap,
.stories_photo,
.stories_preview,
.stories_video,
#top_notify_wrap,
.wall_module td.page_media_link_thumb,
.stories_feed_preview_item,
.stories_feed_preview_item .stories_feed_preview_author .stories_feed_preview_author_ava,
.stories_feed_preview_item .stories_feed_preview_author .stories_feed_preview_author_ava:after,
.page_actions_expanded .page_actions_item,
.pv_cont .pv_reply_form_wrap .wall_module .reply_box,
.pv_cont .pv_reply_form_wrap .wall_module .reply_fakebox_wrap,
.audio_page_layout .audio_block_small_item .audio_block_small_item__img,
.ui_rmenu_count,
.media_voting,
#gtop_groups_addresses_b .gtop_image,
.notify_sources_tt_content .line_cell .thumb .cell_img,
.feedback_attachments .notification__media.circle,
.wall_module .reply_fakebox_wrap,
.wall_module .reply_box, .submit_post_box,
.article_snippet,
.article_snippet .article_snippet__image,
.cal_table > tbody,
.cal_table > thead,
.big.selector_container.selector_focused.reverse table.selector_table,
.article_snippet .article_snippet__fade,
.poster__image,
.media_voting_option,
.media_voting_photo,
.wk_voting_avatar,
.wk_voting_option_bar,
.bookmark_page_item .bookmark_page_item__image,
.bookmarks_row_header_image,
.mv_author_photo_wrap,
.ui_gallery_wall_cards .wall_card__photo,
.ui_gallery_wall_cards .wall_card__photo:before,
.ui_gallery_wall_cards .wall_card__body,
.ui_gallery_wall_cards .wall_card,
#group_section_menu .module_body .ui_gallery .ui_gallery_item .groups_menu_item .groups_menu_item_image,
#group_section_menu .module_body .ui_gallery .ui_gallery_item .groups_menu_item .groups_menu_item_image:after,
.friends_dropdown__list.show-dropdown,
.friends_dropdown__list_dropdown,
.photo_tags_suggested_area,
.photo_tooltip .photo_tooltip__content,
.media_link--sized .media_link__media:after,
.media_link--video .media_link__media:after,
.media_link--vk10years .media_link__media:after,
.podcast_snippet__cover,
.podcast_snippet__cover:before,
.podcast_snippet__content,
#group_section_menu .module_body .ui_gallery .ui_gallery_item .groups_menu_item .groups_menu_item_image .groups_menu_item_image_content,
.thumbed_link__thumb,
.thumbed_link__thumb + .thumbed_link__label,
.media_link__label,
.media_link__subtitle,
.media_link__media,
.nim-dialog.nim-dialog_classic .nim-dialog--photo .nim-peer .nim-peer--photo .im_grid > img:after,
.nim-dialog.nim-dialog_classic .nim-dialog--photo .nim-peer .nim-peer--photo > img:after,
.audio_pl_item2 .audio_pl__actions_wrap,
.audio_pl_item2 .audio_pl__cover,
.wall_module .replies_open,
.wall_module .wr_header,
.im-page .im-page--dialogs-message-requests-notice,
.AudioPlaylistSnippet__play,
.AudioPlaylistSnippet__stop,
.AudioPlaylistSnippet__cover,
.AudioPlaylistSnippet,
.AudioPlaylistSnippet .ActionButton--shuffle,
.ActionsMenu__inner,
.CatalogSection,
.CatalogSection::before,
.CatalogBlock--divided::before,
.CatalogBlock--divided:first-child,
.CatalogSection:first-child::before,
.CatalogBlock--divided:first-child::before,
.ui_tabs_sub_header,
.ui_tabs_header,
.page_block._audio_page_content_block::before,
.BannerItem,
.BannerItem__image,
.ProfileEditorVkconnect__notice,
.top_profile_vkconnect_img,
.stories_feed_preview_item .stories_feed_preview_author .stories_feed_preview_authors_wrapper,
.stories_feed_preview_add,
.stories_feed_preview_authors_grid,
.stories_feed_preview_item .stories_feed_preview_author .stories_feed_preview_authors_wrapper::after,
.pv_narrow_column_wrap,
.CatalogBlock__audio_friends .ui_search_new .ui_search_input_inner,
.article_snippet.article_snippet_mini,
.article_snippet.article_snippet_mini .article_snippet_mini_thumb,
.article_snippet.article_snippet_mini .article_snippet_mini_info_block,
.audio_promo__items,
.audio_promo,
.wall_card_tiny__image,
.CallSnippet,
.im-navigation__button,
.CallButton__icon,
.deep_active .replies .replies_wrap_deep .replies_deep_collapse,
.deep_active .wl_replies_block_wrap .replies_wrap_deep .replies_deep_collapse,
.deep_active.wall_module .replies .replies_wrap_deep .replies_deep_collapse,
.deep_active.wall_module .wl_replies_block_wrap .replies_wrap_deep .replies_deep_collapse,
.apps_feedRightAppsBlock__ava,
.apps_feedRightAppsBlock.apps_feedRightAppsBlock_single_app .apps_feedRightAppsBlock__ava,
.bd_img {
    border-radius: 0;
}