.story_view_info .story_view_row_ava,
.story_view_feedback_button,
.story_view_answer_form_ava {
    border-radius: 2px
}

.story_view_answer_form_emoji_btn {
    bottom: 12px;
}

.page_story_photo .page_story_photo_icon {
    padding-top: 23px;
}

.wddi_data {
    line-height: 15px;
}

.photos_notification_header {
    font-size: 150%;
}

.photos_notification_text {
    font-size: 120%;
}

.photos_notification {
    padding: 0 80px 0 120px;
    margin-bottom: 95px;
}

.photos_notification:before {
    top: 11px
}

.places_choose_search {
    padding: 10px 10px 0
}

.groups_blocked_text {
    font-size: 120%
}

.feed_update_row .feedback_rphoto,
.feed_wall_reply_row .feedback_rphoto {
    margin-top: 0
}

.stories_feed_title {
    padding: 10px 0 0;
    font-weight: bold;
    color: $header-color;
}

.stories_feed_items_wrap {
    padding: 10px 0 0;
}

.stories_feed_item:first-child {
    margin-left: 0;
}

.stories_feed_item:last-child {
    margin-right: 0;
}

.story_feed_new_item .stories_feed_item_ava {
    padding: 1px;
}

.stories_feed_item_name {
    margin-top: 5px;
}

.stories_feed_item {
    width: 50px;
    margin-right: 8px
}

.checkbox_pic {
    margin-top: 4px;
}

.post_from_tt_row {
    padding: 8px 10px;
}

.stories_button.stories_actions {
    top: auto
}

.stories_author_photo,
.stories_button,
.stories_send_form,
.stories_answer_user,
.stories_answers {
    border-radius: 2px;
}

.stories_feed_preview_item:first-child {
    margin-left: 0;
}

.stories_feed_preview_item:last-child {
    margin-right: 0;
}

.eltt.post_author_data {
    font-size: 11px;
}

.page_block.stories_feed_wrap {
    margin-bottom:10px;
    padding: 0 5px
}