.wide_column_left .narrow_column_wrap {
    float: right;
    position: absolute;
    right: 41px;
    top: 351px;
    z-index: 1;
}

.narrow_column,
.narrow_column_wrap {
    width: 152px;
}

.wide_column_left .narrow_column_wrap .ui_rmenu {
    border: 1px solid #DAE1E8;
    border-top: none;
}

.ui_search_fltr_sel:last-child {
    padding-bottom: 0;
}

.ui_rmenu {
    padding: 10px;
}

.ui_rmenu_item,
.ui_rmenu_subitem {
    padding: 6px 6px 7px 10px;
    border-radius: 0;
    width: 134px;
    margin: 0;
    font-weight: normal;
}

.ui_rmenu_item:hover {
    font-weight: normal;
}

.ui_rmenu_subitem.ui_rmenu_item_sel,
.ui_rmenu_subitem.ui_rmenu_item_sel:hover,
.ui_rmenu_item.ui_rmenu_item_sel,
.ui_rmenu_item.ui_rmenu_item_sel:hover,
.ui_rmenu_sliding .ui_rmenu_subitem.ui_rmenu_item_sel,
.ui_rmenu_sliding .ui_rmenu_item_sel {
    padding-left: 10px;
    font-weight: normal;
}

.ui_tabs_header {
    padding-top: 0
}

.ui_calendar_icon {
    margin: 0;
    opacity: 1;
}

#ui_rmenu_lists_list {
    display: block !important;
}

#ui_rmenu_lists {
    display: none;
}