@charset "utf-8";

:lang(ru) #l_nwsf .left_label:before,
:lang(ru) #l_ntf .left_label:before,
:lang(ru) #l_msg .left_label:before,
:lang(ru) #l_fr .left_label:before,
:lang(ru) #l_gr .left_label:before,
:lang(ru) #l_ph .left_label:before,
:lang(ru) #l_aud .left_label:before,
:lang(ru) #l_vid .left_label:before,
:lang(ru) #l_fav .left_label:before,
:lang(ru) #l_sett .left_label:before {
    content: "Мои "
}

:lang(uk) #l_nwsf .left_label:before,
:lang(uk) #l_ntf .left_label:before,
:lang(uk) #l_msg .left_label:before,
:lang(uk) #l_fr .left_label:before,
:lang(uk) #l_gr .left_label:before,
:lang(uk) #l_ph .left_label:before,
:lang(uk) #l_aud .left_label:before,
:lang(uk) #l_vid .left_label:before,
:lang(uk) #l_fav .left_label:before,
:lang(uk) #l_sett .left_label:before {
    content: "Мої "
}

:lang(be) #l_nwsf .left_label:before,
:lang(be) #l_ntf .left_label:before,
:lang(be) #l_msg .left_label:before,
:lang(be) #l_fr .left_label:before,
:lang(be) #l_gr .left_label:before,
:lang(be) #l_ph .left_label:before,
:lang(be) #l_aud .left_label:before,
:lang(be) #l_vid .left_label:before,
:lang(be) #l_fav .left_label:before,
:lang(be) #l_sett .left_label:before,
:lang(be-tarask) #l_nwsf .left_label:before,
:lang(be-tarask) #l_ntf .left_label:before,
:lang(be-tarask) #l_msg .left_label:before,
:lang(be-tarask) #l_fr .left_label:before,
:lang(be-tarask) #l_gr .left_label:before,
:lang(be-tarask) #l_ph .left_label:before,
:lang(be-tarask) #l_aud .left_label:before,
:lang(be-tarask) #l_vid .left_label:before,
:lang(be-tarask) #l_fav .left_label:before,
:lang(be-tarask) #l_sett .left_label:before {
    content: "Мае "
}

:lang(en-us) #l_nwsf .left_label:before,
:lang(en-us) #l_ntf .left_label:before,
:lang(en-us) #l_msg .left_label:before,
:lang(en-us) #l_fr .left_label:before,
:lang(en-us) #l_gr .left_label:before,
:lang(en-us) #l_ph .left_label:before,
:lang(en-us) #l_aud .left_label:before,
:lang(en-us) #l_vid .left_label:before,
:lang(en-us) #l_fav .left_label:before,
:lang(en-us) #l_sett .left_label:before {
    content: "My "
}

:lang(ru-ussr) #l_ntf .left_label:before,
:lang(ru-ussr) #l_msg .left_label:before,
:lang(ru-ussr) #l_fr .left_label:before,
:lang(ru-ussr) #l_gr .left_label:before,
:lang(ru-ussr) #l_ph .left_label:before,
:lang(ru-ussr) #l_aud .left_label:before,
:lang(ru-ussr) #l_vid .left_label:before,
:lang(ru-ussr) #l_fav .left_label:before,
:lang(ru-ussr) #l_sett .left_label:before {
    content: "Мои "
}

:lang(ru-ussr) #l_nwsf .left_label:before {
    content: "Моё "
}

:lang(ru-petr1708) #l_nwsf .left_label:before,
:lang(ru-petr1708) #l_ntf .left_label:before,
:lang(ru-petr1708) #l_msg .left_label:before,
:lang(ru-petr1708) #l_fr .left_label:before,
:lang(ru-petr1708) #l_gr .left_label:before,
:lang(ru-petr1708) #l_ph .left_label:before,
:lang(ru-petr1708) #l_aud .left_label:before,
:lang(ru-petr1708) #l_sett .left_label:before {
    content: "Мои "
}

:lang(ru-petr1708) #l_vid .left_label:before,
:lang(ru-petr1708) #l_fav .left_label:before {
    content: "Мой "
}

:lang(ru) #feed_filters .ui_toggler:before {
    content: "Показать по времени публикации"
}

#feed_filters .ui_toggler:before {
    content: "..."
}

/* Фильтр
 */

#oldvk-filter-label:before,
:lang(kk) #oldvk-filter-label:before {
    content: "Фильтр";
}

:lang(uk) #oldvk-filter-label:before,
:lang(be) #oldvk-filter-label:before {
    content: "Фільтр";
}

:lang(be-tarask) #oldvk-filter-label:before {
    content: "Фільтар";
}

:lang(en-us) #oldvk-filter-label:before {
    content: "Filter";
}

:lang(ru-petr1708) #oldvk-filter-label:before {
    content: "Фильтръ";
}

:lang(ru-ussr) #oldvk-filter-label:before {
    content: "Выборка";
}

/* Подписчики
 */

#oldvk-counter-sub:before {
    content: "Подписчики"
}

:lang(ru-petr1708) #oldvk-counter-sub:before {
    content: "Почитатели"
}

:lang(ru-ussr) #oldvk-counter-sub:before {
    content: "Читатели"
}

:lang(en-us) #oldvk-counter-sub:before {
    content: "Followers"
}

:lang(be-tarask) #oldvk-counter-sub:before {
    content: "Падпісанты"
}

:lang(be) #oldvk-counter-sub:before {
    content: "Падпісчыкі"
}

:lang(uk) #oldvk-counter-sub:before {
    content: "Підписники"
}

:lang(kk) #oldvk-counter-sub:before {
    content: "Жазылушылар"
}

/* Мои подписчики
 */

.owner_photo_wrap ~ #oldvk-counters #oldvk-counter-sub:before {
    content: "Мои подписчики"
}

:lang(ru-petr1708) .owner_photo_wrap ~ #oldvk-counters #oldvk-counter-sub:before {
    content: "Мои почитатели"
}

:lang(ru-ussr) .owner_photo_wrap ~ #oldvk-counters #oldvk-counter-sub:before {
    content: "Мои читатели"
}

:lang(en-us) .owner_photo_wrap ~ #oldvk-counters #oldvk-counter-sub:before {
    content: "My followers"
}

:lang(be-tarask) .owner_photo_wrap ~ #oldvk-counters #oldvk-counter-sub:before {
    content: "Мае падпісанты"
}

:lang(be) .owner_photo_wrap ~ #oldvk-counters #oldvk-counter-sub:before {
    content: "Мае падпісчыкі"
}

:lang(uk) .owner_photo_wrap ~ #oldvk-counters #oldvk-counter-sub:before {
    content: "Мої підписники"
}

:lang(kk) .owner_photo_wrap ~ #oldvk-counters #oldvk-counter-sub:before {
    content: "Жазылушыларым"
}

/* Фотографии с
 */

#oldvk-counter-tag:before {
    content: "Фотографии с "
}

:lang(ru-petr1708) #oldvk-counter-tag:before {
    content: "Фотопортреты съ "
}

:lang(ru-ussr) #oldvk-counter-tag:before {
    content: "Фотокарточки с "
}

:lang(en-us) #oldvk-counter-tag:before {
    content: "Photos of "
}

:lang(be-tarask) #oldvk-counter-tag:before {
    content: "Фатаздымкі з "
}

:lang(be) #oldvk-counter-tag:before {
    content: "Фотаздымкі з "
}

:lang(uk) #oldvk-counter-tag:before {
    content: "Фотографії з "
}

:lang(kk) #oldvk-counter-tag:before {
    content: "Оны бар суреттер"
}

/* Фотографии со мной
 */

.owner_photo_wrap ~ #oldvk-counters #oldvk-counter-tag:before {
    content: "Фотографии со мной"
}

:lang(ru-petr1708) .owner_photo_wrap ~ #oldvk-counters #oldvk-counter-tag:before {
    content: "Мои фотопортреты"
}

:lang(ru-ussr) .owner_photo_wrap ~ #oldvk-counters #oldvk-counter-tag:before {
    content: "Фотокарточки со мной"
}

:lang(en-us) .owner_photo_wrap ~ #oldvk-counters #oldvk-counter-tag:before {
    content: "Photos of me"
}

:lang(be-tarask) .owner_photo_wrap ~ #oldvk-counters #oldvk-counter-tag:before {
    content: "Фатаздымкі з мною"
}

:lang(be) .owner_photo_wrap ~ #oldvk-counters #oldvk-counter-tag:before {
    content: "Фотаздымкі са мною"
}

:lang(uk) .owner_photo_wrap ~ #oldvk-counters #oldvk-counter-tag:before {
    content: "Фотографії зi мною"
}

:lang(kk) .owner_photo_wrap ~ #oldvk-counters #oldvk-counter-tag:before {
    content: "Мен бар суреттер"
}

/* Мне нравится
 */

:lang(ru) .wall_module .post_like_link,
:lang(uk) .wall_module .post_like_link,
:lang(be) .wall_module .post_like_link,
:lang(be-tarask) .wall_module .post_like_link {
    text-transform: lowercase;
}

:lang(ru) .wall_module .post_like_link:before,
:lang(uk) .wall_module .post_like_link:before,
:lang(be) .wall_module .post_like_link:before,
:lang(be-tarask) .wall_module .post_like_link:before,
:lang(ru-petr1708) .wall_module .post_like_link,
:lang(ru-ussr) .wall_module .post_like_link {
    text-transform: none;
}

:lang(ru) .wall_module .post_like_link:before,
:lang(be) .wall_module .post_like_link:before,
:lang(be-tarask) .wall_module .post_like_link:before {
    content: "Мне ";
}

:lang(uk) .wall_module .post_like_link:before {
    content: "Мені ";
}

:lang(ru-petr1708) .wall_module .post_like_link:before,
:lang(ru-ussr) .wall_module .post_like_link:before{
    content: none;
}