@charset "utf-8";

/* audios */

head.oldvk-audios ~ body #page_header_cont,
head.oldvk-audios ~ body #side_bar {
    position: fixed;
}

head.oldvk-audios ~ body .narrow_column,
head.oldvk-audios ~ body .narrow_column_wrap {
    width: 176px;
}

head.oldvk-audios ~ body #stl_side {
    display: none !important
}

/* localize */

:lang(ru) #l_nwsf .left_label:before,
:lang(ru) #l_ntf .left_label:before,
:lang(ru) #l_msg .left_label:before,
:lang(ru) #l_fr .left_label:before,
:lang(ru) #l_gr .left_label:before,
:lang(ru) #l_ph .left_label:before,
:lang(ru) #l_aud .left_label:before,
:lang(ru) #l_vid .left_label:before,
:lang(ru) #l_fav .left_label:before,
:lang(ru) #l_sett .left_label:before
{
    content: "Мои "
}

:lang(uk) #l_nwsf .left_label:before,
:lang(uk) #l_ntf .left_label:before,
:lang(uk) #l_msg .left_label:before,
:lang(uk) #l_fr .left_label:before,
:lang(uk) #l_gr .left_label:before,
:lang(uk) #l_ph .left_label:before,
:lang(uk) #l_aud .left_label:before,
:lang(uk) #l_vid .left_label:before,
:lang(uk) #l_fav .left_label:before,
:lang(uk) #l_sett .left_label:before{
    content: "Мої "
}

:lang(be) #l_nwsf .left_label:before,
:lang(be) #l_ntf .left_label:before,
:lang(be) #l_msg .left_label:before,
:lang(be) #l_fr .left_label:before,
:lang(be) #l_gr .left_label:before,
:lang(be) #l_ph .left_label:before,
:lang(be) #l_aud .left_label:before,
:lang(be) #l_vid .left_label:before,
:lang(be) #l_fav .left_label:before,
:lang(be) #l_sett .left_label:before,
:lang(be-tarask) #l_nwsf .left_label:before,
:lang(be-tarask) #l_ntf .left_label:before,
:lang(be-tarask) #l_msg .left_label:before,
:lang(be-tarask) #l_fr .left_label:before,
:lang(be-tarask) #l_gr .left_label:before,
:lang(be-tarask) #l_ph .left_label:before,
:lang(be-tarask) #l_aud .left_label:before,
:lang(be-tarask) #l_vid .left_label:before,
:lang(be-tarask) #l_fav .left_label:before,
:lang(be-tarask) #l_sett .left_label:before {
    content: "Мае "
}

:lang(en-us) #l_nwsf .left_label:before,
:lang(en-us) #l_ntf .left_label:before,
:lang(en-us) #l_msg .left_label:before,
:lang(en-us) #l_fr .left_label:before,
:lang(en-us) #l_gr .left_label:before,
:lang(en-us) #l_ph .left_label:before,
:lang(en-us) #l_aud .left_label:before,
:lang(en-us) #l_vid .left_label:before,
:lang(en-us) #l_fav .left_label:before,
:lang(en-us) #l_sett .left_label:before {
    content: "My "
}

:lang(ru-ussr) #l_ntf .left_label:before,
:lang(ru-ussr) #l_msg .left_label:before,
:lang(ru-ussr) #l_fr .left_label:before,
:lang(ru-ussr) #l_gr .left_label:before,
:lang(ru-ussr) #l_ph .left_label:before,
:lang(ru-ussr) #l_aud .left_label:before,
:lang(ru-ussr) #l_vid .left_label:before,
:lang(ru-ussr) #l_fav .left_label:before,
:lang(ru-ussr) #l_sett .left_label:before
{
    content: "Мои "
}

:lang(ru-ussr) #l_nwsf .left_label:before {
    content: "Моё "
}

:lang(ru-petr1708) #l_nwsf .left_label:before,
:lang(ru-petr1708) #l_ntf .left_label:before,
:lang(ru-petr1708) #l_msg .left_label:before,
:lang(ru-petr1708) #l_fr .left_label:before,
:lang(ru-petr1708) #l_gr .left_label:before,
:lang(ru-petr1708) #l_ph .left_label:before,
:lang(ru-petr1708) #l_aud .left_label:before,
:lang(ru-petr1708) #l_sett .left_label:before
{
    content: "Мои "
}

:lang(ru-petr1708) #l_vid .left_label:before,
:lang(ru-petr1708) #l_fav .left_label:before
{
    content: "Мой "
}